/* Theme */

::selection {
  background: #333;
  color: #FFFC00;
}
::-moz-selection {
  background: #333;
  color: #FFFC00;
}

html {
  background-color: #000;
  background: #000;
	color: #FFF;
}

main {
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: .8em;
  opacity: .4;
  transition: opacity .3s ease-in, transform .2s cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
}
.footer:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: none;
}
.footer svg {
  fill: white;
  vertical-align: middle;
  height: 1.35em;
}
h1 {
  margin-top: 4rem;
}
h1 > a {
  text-decoration: none;
  color: #fff!important;
}
a.footer {
  vertical-align: middle;
  text-decoration: none;
  color: #FFF;
}
.background {
  pointer-events: none;
  animation: buildInBg 1s ease-in .25s;
  animation-fill-mode: forwards;
  background: url("https://raw.githubusercontent.com/DimensionSoftware/powerbulletin/master/public/images/live_support.jpg") no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  left: -1%!important;
  right: -1%!important;
  top: -5%!important;
  bottom: -25%!important;
  opacity: 0;
  z-index: -2;
}
.lense {
  position: fixed!important;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  left: -5%!important;
  right: -5%!important;
  top: -2%!important;
  bottom: -25%!important;
  background: radial-gradient(circle closest-corner at 50% 35%, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%)
}

@keyframes gradientBg {
  0% {
    background-position: 0% 50%;
  }
  7% {
    background-position: 100% 50%;
  }
  40% {
    background-position: 100% 50%;
  }
  60% {
    background-position: 0% 50%;
  }
}

h2.tagline {
  margin-top: .5rem;
}
h2 > a {
  color: #FFF;
  text-decoration: none;
}

small {
  opacity: .5;
  font-size: .65em;
}

.icons-social {
  margin-bottom: 50px;
  margin-top: 30px;
}

.icons-social a {
  color: #FFF;
}

.icons-social a svg path{
  fill: #1E1E1E;
}

@keyframes buildInBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes buildInTagline {
  0% {
    opacity: .3;
    transform: scale(1);
  }
  25% {
    transform: scale(1.3) translateY(7px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes buildInSocial {
  0% {
    opacity: .2;
    transform: scale(1);
  }
  25% {
    transform: scale(1.2) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes buildInQr {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    transform: scale(1.5) translateY(10px);
  }
  100% {
    opacity: .75;
    transform: scale(1) translateY(0);
  }
}
body {
  overflow: hidden;
}
h2.tagline {
  font-size: 1.6em;
  animation: buildInTagline .45s ease-in;
}
.icons-social {
  animation: buildInSocial .4s ease-in;
}
.icons-social > a {
  transition: transform .3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: inline-block;
}
.icons-social > a:hover {
  transform: scale(1.3);
  transition: none;
}
.qrcode {
  opacity: .75;
  margin-top: 60px;
  transition: opacity .3s ease-in, transform .2s cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
  animation: buildInQr .5s ease-in;
}
.qrcode:hover {
  opacity: 1;
  transform: scale(1.15);
  transition: none;
}

.center {
  width: 100%;
  position: relative!important;
  display: block;
  text-align: center;
}
