/.vagrant
/classes/
/log/
*.pid
*.log
*.jar
.*.swp
/nohup.out
/error_log
/selenium.out
/public/powerbulletin.min.js
/public/powerbulletin.js
/public/images/user
/app/views/templates.js
/config/local.json
/elasticsearch-logs/
/elasticsearch-data/
