/public/master.css
/public/master-sales.css
/public/sites
/.vagrant
/.config/
/classes/
/log/
*.pid
*.log
*.jar
.*.swp
/nohup.out
/error_log
/selenium.out
/public/powerbulletin.min.js
/public/powerbulletin.js
/public/powerbulletin-sales.min.js
/public/powerbulletin-sales.js
/public/images/user/
/public/domains/
/app/views/templates.js
/config/local.json
/elasticsearch-logs/
/elasticsearch-data/
/build/
/pb.sql
/.bash_history
# precompile ignores
/app/*.js
/client/*.js
/component/*.js
/shared/*.js
/lib/mutant/*.js
/lib/mutant/**/*.js
/lib/mutant/**/**/*.js
/lib/mutant/**/**/**/*.js
