@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

vendors = webkit moz official

bounce = cubic-bezier(0,1.72,0,.75)


// overwrite fluidity's box-shadow w/ vendor prefixes for working animations (below)
box-shadow(arg1, arg2, arg3)
  box-shadow arg1, arg2, arg3

@keyframes r0
  0%
    box-shadow 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0 0 transparent, 0 0 0px 0px rgba(26, 255, 179, 0)

  10%
    box-shadow 0 0 8px 6px #1affb3, 0 0 12px 10px transparent, 0 0 12px 14px #1affb3

  100%
    box-shadow 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px transparent, 0 0 0px 40px rgba(26, 255, 179, 0)


@keyframes fade-in
  0%
    opacity 0
  100%
    opacity 1

@keyframes rotate-in
  0%
    transform rotate(-120deg)
  100%
    transform rotate(0deg)

@keyframes build-in
  0%
    transform translate(0, 0)
    opacity 0
  100%
    transform translate(-30px, -30px), scale(1.1)
    text-indent 100px
    opacity 1

body
  font-family 'Source Sans Pro','Open Sans Condensed','Ubuntu','Helvetica Neue',sans-serif
  cursor pointer

  .container
    position fixed
    top 30%
    left 50%
    margin 0 -190px
    height 100px
    .logo 
      position relative
      z-index 100
      display block
      text-indent 140px
      padding 15px 0 60px 0
      margin-bottom 15px
      font-size 3em
      font-weight 300
      border-bottom 1px solid #f4f4f4
      line-height 53px
      transform scale(.5)
      animation build-in .3s ease-out 1 forwards
      &:after
        position absolute
        display block
        top 0
        left 0
        content ''
        height 100px
        width 100px
        background-image url("//muscache2.powerbulletin.com/images/pb_icon_logo.png")
        background-repeat no-repeat
        transform rotate(-120deg)
        animation rotate-in .4s ease-out 1 forwards
      a 
        color #444
        text-decoration none
        font-style italic
        b 
          color #333
          font-style normal
    .beacon
      width 50px
      height 50px
      left -5px
      top 25px
      border-radius 50%
      position absolute
      transition all .2s
      animation r0 2s ease-out 1s infinite
    .note
      font-size 1.5em
      font-weight 200
      letter-spacing 2px
      color #3199b0
      text-align center
      margin-left -65px
      opacity 0
      animation fade-in .4s ease-out 1 forwards .1s
      b
        margin-left 4px
        margin-right 8px
        letter-spacing 0
        font-size 1.1em
        &:first-child
          margin-right 10px
          letter-spacing 0
