
// Animations!

@keyframes grow
  0%
    transform scale(1.0)
  33%
    transform scale(1.18)
  100%
    transform scale(1.0)

@keyframes tiny-grow
  0%
    transform scale(1.0)
  25%
    transform scale(1.03)
  45%
    transform scale(1.04)
  100%
    transform scale(1.0)

@keyframes shake
  0%
    transform translateX(-35px), skew(1deg, 2deg)
  25%
    transform translateX(20px), skew(-4deg, -6deg)
  50%
    transform translateX(-10px), skew(0, 3deg)
  75%
    transform translateX(5px), skew(0, 0)
  100%
    transform translateX(0)

@keyframes post-animate-in
  0%
    transform translateX(-25px), skew(1deg, 2deg)
  25%
    transform translateX(10px), skew(-1deg, -3deg)
  50%
    transform translateX(-5px), skew(0, 1deg)
  75%
    transform translateX(3px), skew(0, 0)
  100%
    transform translateX(0)

@keyframes slide
  0%
    transform translateY(-90px), skew(0, -3deg)
  35%
    transform translateY(35px), skew(-1deg, 4deg)
  100%
    transform translateY(0px), skew(0, 0)

@keyframes fadein
  0%
    opacity 0
  100%
    opacity 1
