
// XXX below defines the layout's skeleton
// XXX decoration & embellishments belong in the theme.styl
// XXX eventually each forum will have its own theme.{styl,css}
bounce = cubic-bezier(0,1.72,0,.75)

header-height           = 100px
header-scrolled-height  = 30px

forum-header-height = 0
footer-height       = 32px
left-content-width  = 310px

section
  box-sizing border-box

body
  grid(90%,100%)
  overflow visible!important
  a
    cursor pointer
  .scroll-to, .onclick-scroll-top
    cursor pointer

body.waiting, body.waiting a
  cursor wait!important

.onclick-logout, .onclick-profile, .admin-only, .has-facebook, .has-google, .has-twitter, .has-auth
  display none

body.scrolled .nicescroll-rails
  top 100px!important

.nicescroll-rails
  position fixed!important
  cursor s-resize!important
  top 190px!important
  z-index 8!important

.close, .onclick-close
  opacity 0
  cursor pointer
  line-height 9px
  text-indent 1px
  border-radius 10px
  padding 6px
  font-size .8em

.hidden
  display none

//{{{ Header
.logo
  margin 0
  padding 0
  a
    margin-top 20px
    vertical-align top
    font-size .75em
    text-decoration none
    font-weight 200
    letter-spacing -2px
    position fixed
    top 1px
    left (grid*2)
    z-index 10
    strong
      letter-spacing -1px
      font-weight 500
      padding-left 4px
header
  position fixed
  height header-height
  top 0
  z-index 10
  .container
    width 800px
    margin 0 auto
    .tools:hover::before
      top 6px
      border-top 8px solid #888
      transition border .2s ease-out
    .tools::before
      border 4px solid transparent
      border-top 6px solid #aaa
      content ''
      position absolute
      top 7px
      right 29px
      z-index 13
      height 20px
    .tools:hover
      li
        height 23px
        opacity 1
        transition height .1s ease-out, opacity .3s ease-out
    .tools
      list-style none
      position absolute
      right -10px
      width 100px
      padding-top 80px
      top 18px
      z-index 9
      li
        height 0
        opacity 0
        overflow hidden
    #warning
      bottom 8px
    .menu
      padding 0
      margin -3px auto 0 auto
      display inline-block
      position absolute
      bottom -1px
      > .row
          position relative!important
          z-index 50!important
        .title
          display inline-block
          text-transform capitalize
          padding 0 19px
      .row.active, .row:hover
        z-index 7
        .submenu
          opacity 1
          top 30px
          max-height 450px
          height auto
          min-width 850px
          transition opacity .5s ease-out .2s, min-width .2s cubic-bezier(1.000, -0.010, 0.800, 1.530) .25s, max-height .25s cubic-bezier(1, -0.01, 1, .08) .3s, top .2s ease-out .1s
          .row:hover
            text-indent 1px
      .row:nth-last-child(3)
        .submenu
          margin-left -100px
      .row:nth-last-child(2)
        .submenu
          margin-left -250px
      .row:last-child
        .submenu
          margin-left -400px
      .row
        cursor pointer
        display inline
        line-height 38px
        font-size 16px
        .title
          position relative
          z-index 66
        .submenu
          z-index 65
          top -600px
          overflow-y scroll
          opacity 0
          position absolute
          padding 0 0 grid 0
          margin 0
          max-height 50px
          min-width 600px
          menu
            margin-top grid
            .row
              width 250px
              height 40px
              display inline-block
              text-align center
              float left
              font-size 14px
              text-indent 4px
              line-height 42px
              a
                display block
    .profile
      position absolute
      display none
      cursor pointer
      right 40px
      top -23px
      height 75px
      width 94px
    .search
      top 10px
      left 200px
      position absolute 
      z-index 8
      .query
        width 400px
        padding-right 45px
        padding-top grid
        font-size 1.3em
      .onclick-close
        cursor pointer
        position absolute
        right 11px
        top -40px
        z-index 14
        font-size 1.1em
        line-height 6px
        opacity 0
        transition all .2s ease-out
//}}}
//{{{ Left side
body.paginator
  #left_content
    .handle
      right -26px
    #paginator
      right -12px
      width 12px
      height auto
      top 0
      bottom 0
      transition width .2s ease-out

#left_content
  position fixed
  left 0
  bottom 0
  top (header-height+2)
  height auto
  width left-content-width
  z-index 8
  padding-top (grid*3)
  .photo
    margin-top 9px
  .handle::before
    position absolute
    content ''
    border-bottom 8px solid transparent
    border-top 8px solid transparent
    border-left 10px solid transparent
    height 0
    width 0
    top 8px
    left -3px
  .handle
    border-radius 20px
    line-height 28px
    font-size .9em
    height 30px
    width 30px
    margin-top (grid/2)
    top (header-height-20)
    right -13px
    cursor pointer
    position absolute
    text-align center
    cursor pointer
    z-index 95
  #paginator
    position absolute
    width 0
    height 0
    z-index 7
    padding-top 80px
    padding-bottom 50px
    cursor pointer
    .current
      border-radius 8px / 4px
      min-height 51px
      cursor ns-resize
      position relative
      text-align center
      font-size 13px
      margin 0 -1px
      word-wrap break-word
      line-height 17px
      letter-spacing 20px
      padding-left 3px
      padding-top 2px
      transition top .2s ease-out, height .3s ease-out
    .current.ui-draggable-dragging
      transition top 0
    a.page
      display block
      position absolute
      height footer-height + (grid * 2)
      width 12px
    a.page.previous
      top 0
    a.page.next
      bottom 15px
    a.page.previous::before
      position absolute
      height 0
      width 0
      content ''
      left 3px
      top 0
      border-top 10px solid transparent
      border-left 4px solid transparent
      border-right 4px solid transparent
    a.page.next::before
      position absolute
      height 0
      width 0
      left 3px
      bottom 0
      content ''
      border-left 4px solid transparent
      border-right 4px solid transparent
      border-bottom 10px solid transparent
    .tooltip
      margin-left 20px
      height 4px
      border-radius 0px
      border-top-right-radius 6px
      border-bottom-right-radius 6px
      box-shadow none
      font-size 12px
      line-height 2px
      font-weight bold
  #paginator:hover
    transition width .08s .2s ease-out, right .08s .2s ease-out!important
    width 15px!important
    right -15px!important
    .current
      padding-left 5px
      transition padding-left .08s .2s ease-out
    a.page
      transition width .08s .2s ease-out, right .08s .2s ease-out
      width 18px
    a.page.previous:before
      border-left 5px solid transparent
      border-right 5px solid transparent
      transition border-left .08s .2s ease-out, border-right .08s .2s ease-out
    a.page.next:before
      border-left 5px solid transparent
      border-right 5px solid transparent
      transition border-left .08s .2s ease-out, border-right .08s .2s ease-out

  .ui-resizable-e
    cursor ew-resize
//}}}
//{{{ Main Content
.col1
  width 425px
.col2
  width 425px

.photo
  overflow hidden
  float left
  //padding 2px
  margin-right grid
  width 39px
  height 31px
  float left
  img
    width 100%

.main-content
  grid(100%, 800px)
  padding forum-header-height 0 0 0
  padding-top (header-height+(grid*2))
  z-index 5
  .breadcrumb
    position fixed
    top -100px
    text-align center
    z-index 16
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    padding (grid/2+2) (grid*2.5) 3px (grid*2.5)
    font-size .9em
    margin-bottom (grid/2)
    text-transform capitalize
    a, em, span
      text-transform capitalize
      padding-right (grid/2)
      margin-right 3px
  .resizable
    padding-left (left-content-width+(grid*3))
  .onclick-scroll-top
    clear both
//}}}
//{{{ Footer
footer.expanded
  .post-reply::after
    content 'Close'
  .post-reply:hover::before
    border 4px solid transparent
    border-top 8px solid #aaa
    top 8px
    left 38px
  .post-reply::before
    border 4px solid transparent
    border-top 6px solid #ccc
    top 9px
    left 38px
footer.active
  opacity 1
  bottom -(grid * 1.4)
  font-size .75em
footer
  text-align center
  position fixed
  right 0
  left 0
  // bottom -(footer-height)
  bottom -(grid)
  height footer-height
  z-index 9
  width auto
  .post-reply::after
    position absolute
    content 'Reply'
    left 0
    top 0
  .post-reply
    display none
    cursor pointer
    position absolute
    padding-right 20px
    left 12px
  .post-reply:hover
    color #222
  .post-reply:hover::before
    border-left 8px solid #aaa
    left 40px
    transition all .1s ease-out
  .post-reply::before
    position absolute
    content ''
    border 4px solid transparent
    border-left 6px solid #ccc
    top 8px
    left 38px
    transition all .2s ease-out
  .onclick-scroll-top:hover
    color #222
  .onclick-scroll-top:hover::before
    border-bottom 8px solid #aaa
    top 2px
    transition all .1s ease-out
  .onclick-scroll-top::before
    position absolute
    content ''
    border 4px solid transparent
    border-bottom 6px solid #ccc
    top 4px
    right 42px
    transition all .2s ease-out
  .onclick-scroll-top
    position absolute
    top 0
    right 0
    font-size .8em
    letter-spacing 2px
    padding 0 15px 0 30px
#chat_drawer
  position fixed
  height 0
  bottom 0
  left 0
  right 0
  z-index 10
//}}}

//{{{ Scrolled <body>
body.scrolled
  .logo
    a
      margin-top 5px
      font-size .68em
      transition margin-top .3s bounce
  header
    height header-scrolled-height
    .container
      .menu
        bottom -2px
        > .row:hover
          .submenu
            top 28px
        .row
          top 1px
          line-height header-scrolled-height + 1
          font-size 16px
      .tools
        padding-top 25px
        top 0
        width 50px
        li
          margin-left -27px
      .tools::before
        top -3px
      .search
        top -200px!important
        opacity 0
        transition all .1s ease-out
        .onclick-search
          right 14px
        .query
          font-size 1em
          height 18px
      .profile
        height 25px
        width 31px
        top -14px
        right 35px
        transition all .2s bounce
  #left_content
    top (header-scrolled-height+5)
    padding-top (grid * 1.5)
    transition padding-top .2s ease-out, top .2s ease-out
    .handle
      transition top .2s ease-out
    #paginator
      a.page.previous::before
        top -5px
      a.page.next::before
        bottom 10px
  .main-content
    .breadcrumb
      top (header-scrolled-height+3)
      transition top .2s bounce
  footer
    opacity 1
    font-size .85em
//}}}
//{{{ Collapsed left nav
body.collapsed
  .nicescroll-rails
    display none
  .logo a
    left 53px
    transition left .2s ease-out
  #left_content
    width 0!important
    transition width .1s
    .handle::before
      transform rotate(180deg)
      top 8px
      left 14px
      transition all .5s ease-out
    .handle
      right -25px
    .create a
      display none!important
  .main-content
    .resizable
      padding-left (grid*5)!important
      transition padding-left .2s ease-out
//}}}

//{{{ Background layer
img.bg
  position fixed
  height 100%
  width 100%
  z-index 0
  left 0
  display none
  top 300px
img.bg.active
  top 0!important
  transition top .3s
  z-index 1!important
  //transition opacity .8s ease-out
  //opacity 1
  //display block
//}}}

//{{{ Masonry
.masonry, .masonry .masonry-brick
  transition-duration 0.1s
.masonry
  transition-property width, height
.masonry .masonry-brick
  transition-property left, right, top
//}}}
// vim:fdm=marker
