
// XXX below defines the layout's skeleton
// XXX decoration & embellishments belong in the theme.styl
// XXX eventually each forum will have its own theme.{styl,css}

header-height           = 50px
header-scrolled-height  = 30px

forum-header-height = 0
footer-height       = 32px
left-content-width  = 310px

@import './app/stylus/mutants-layout'

section
  box-sizing border-box

body
  grid(90%,100%)
  overflow visible!important
  a
    cursor pointer
  .scroll-to, .onclick-scroll-top
    cursor pointer

body.waiting, body.waiting a
  cursor wait !important

.onclick-logout, .onclick-profile, .admin-only, .has-facebook, .has-google, .has-twitter, .has-auth
  display none

.nicescroll-rails
  position fixed!important

.close, .onclick-close
  opacity 0
  cursor pointer
  line-height 9px
  text-indent 1px
  border-radius 10px
  padding 5px
  font-size .8em

.hidden
  display none

//{{{ Header
.logo
  margin 0
  padding 0
  a
    margin-top 15px
    vertical-align top
    font-size .75em
    text-decoration none
    font-weight 200
    letter-spacing -2px
    position fixed
    top 1px
    left (grid*2)
    z-index 10
    strong
      letter-spacing -1px
      font-weight 500
      padding-left 4px
header
  position fixed
  height header-height
  top 0
  z-index 9
  .container
    width 800px
    margin 0 auto
    .tools:hover::before
      border-top 8px solid #888
    .tools::before
      border 8px solid transparent
      border-top 7px solid #aaa
      content ''
      position absolute
      top 7px
      right 20px
      z-index 13
      height 20px
    .tools:hover
      li
        height 23px
        opacity 1
        transition height .1s ease-out, opacity .3s ease-out
    .tools
      list-style none
      position absolute
      right 0
      width 5px
      padding-top 43px
      z-index 9
      li
        height 0
        opacity 0
        margin-left -60px
        overflow hidden

    .menu
      padding 0
      margin -3px auto 0 auto
      display inline-block
      position absolute
      bottom 0
      > .row
          position relative!important
          z-index 50!important
        .title
          display inline-block
          text-transform capitalize
          padding 0 19px
      .row.active, .row:hover
        z-index 7
        .submenu
          opacity 1
          top 36px
          max-height 450px
          height auto
          min-width 850px
          transition opacity .7s ease-out .1s, min-width .2s cubic-bezier(1.000, -0.010, 0.800, 1.530) .4s, max-height .3s cubic-bezier(1, -0.01, 1, .08) .4s, top .45s ease-out .1s
          .row:hover
            text-indent 1px
            transition text-indent .1s ease-out
      .row:nth-last-child(3)
        .submenu
          margin-left -100px
      .row:nth-last-child(2)
        .submenu
          margin-left -250px
      .row:last-child
        .submenu
          margin-left -400px
      .row
        cursor pointer
        display inline
        line-height header-height
        font-size 16px
        .title
          position relative
          z-index 66
        .submenu
          z-index 65
          top -600px
          overflow-y scroll
          opacity 0
          position absolute
          padding 0 0 grid 0
          margin 0
          max-height 50px
          min-width 600px
          menu
            margin-top grid
            .row
              width 250px
              height 40px
              display inline-block
              text-align center
              float left
              font-size 14px
              text-indent 4px
              line-height 42px
              a
                display block
    .search
      top 13px
      right 12px
      position absolute 
      z-index 8
      .query
        width 300px
        padding-right 45px
        padding-top grid
        font-size 1.3em
//}}}
//{{{ Left side
body.paginator
  #left_content
    .handle
      right -26px
    #paginator
      right -12px
      width 12px
      height auto
      top 0
      bottom 0
      transition width .2s ease-out

#left_content
  position fixed
  left 0
  bottom 0
  top (header-height+2)
  height auto
  width left-content-width
  z-index 8
  padding-top (grid*3)
  .photo
    margin-top 9px
  .handle::before
    position absolute
    content ''
    border-bottom 8px solid transparent
    border-top 8px solid transparent
    border-left 10px solid transparent
    height 0
    width 0
    top 8px
    left -3px
  .handle
    border-radius 20px
    line-height 28px
    font-size .9em
    height 30px
    width 30px
    margin-top (grid/2)
    top (header-height - 17)
    right -13px
    cursor pointer
    position absolute
    text-align center
    cursor pointer
    z-index 95
  #paginator
    position absolute
    width 0
    height 0
    z-index 7
    padding-top header-height*2
    padding-bottom footer-height
    cursor pointer
    .current
      min-height 51px
      cursor ns-resize
      position relative
      text-align center
      font-size 13px
      margin 0 -1px
      word-wrap break-word
      line-height 17px
      letter-spacing 20px
      padding-left 3px
      padding-top 2px
      transition top .2s ease-out, height .3s ease-out
    .current.ui-draggable-dragging
      transition top 0
    a.page
      display block
      position absolute
      height footer-height + (grid * 2)
      width 12px
    a.page.previous
      top 0
    a.page.next
      bottom 0
    a.page.previous::before
      position absolute
      height 0
      width 0
      content ''
      left 3px
      top 0
      border-top 10px solid transparent
      border-left 4px solid transparent
      border-right 4px solid transparent
    a.page.next::before
      position absolute
      height 0
      width 0
      left 3px
      bottom 0
      content ''
      border-left 4px solid transparent
      border-right 4px solid transparent
      border-bottom 10px solid transparent
    .tooltip
      margin-left 20px
      height 4px
      border-radius 0px
      border-top-right-radius 6px
      border-bottom-right-radius 6px
      box-shadow none
      font-size 12px
      line-height 2px
      font-weight bold
  #paginator:hover
    transition width .08s .2s ease-out, right .08s .2s ease-out!important
    width 15px!important
    right -15px!important
    .current
      padding-left 5px
      transition padding-left .08s .2s ease-out
    a.page
      transition width .08s .2s ease-out, right .08s .2s ease-out
      width 18px
    a.page.previous:before
      border-left 5px solid transparent
      border-right 5px solid transparent
      transition border-left .08s .2s ease-out, border-right .08s .2s ease-out
    a.page.next:before
      border-left 5px solid transparent
      border-right 5px solid transparent
      transition border-left .08s .2s ease-out, border-right .08s .2s ease-out

  .ui-resizable-e
    cursor ew-resize
//}}}
//{{{ Main Content
.col1
  width 425px
.col2
  width 425px

.photo
  overflow hidden
  float left
  //padding 2px
  margin-right grid
  width 36px
  height 29px
  float left
  img
    width 100%

#main_content
  grid(100%, 800px)
  padding forum-header-height 0 0 0
  padding-top (grid*8)
  z-index 5
  #breadcrumb
    position fixed
    top -100px
    text-align center
    z-index 12
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    padding (grid/2+2) (grid*2.5) 3px (grid*2.5)
    font-size .9em
  .breadcrumb
    margin-bottom (grid/2)
    text-transform capitalize
    a, em, span
      text-transform capitalize
      padding-right (grid/2)
      margin-right 3px
  .resizable
    padding-left (left-content-width+(grid*3))
  .onclick-scroll-top
    clear both
//}}}
//{{{ Footer
footer.active
  opacity 1
  bottom -(grid * 1.4)
  font-size .65em
  transition all 1s ease-out
footer
  text-align center
  position fixed
  right 0
  left 0
  bottom -(footer-height)
  height footer-height
  z-index 9
  width auto
#chat_drawer
  position fixed
  bottom 0
  left 0
  right 0
  width auto
  z-index 10
//}}}

//{{{ Scrolled <body>
body.scrolled
  .logo
    a
      top -(grid - 2)
      font-size .68em
  header
    height header-scrolled-height
    .container
      .menu
        > .row:hover
          .submenu
            top 28px
        .row
          top 1px
          line-height header-scrolled-height + 1
          font-size 16px
      .tools
        padding-top 25px
      .tools::before
        top -3px
      .search
        top -3px!important
        right 0!important
        .query
          font-size 1em
          width 340px!important
          height 15px
  #left_content
    top (header-scrolled-height+5)
    padding-top (grid * 1.5)
    transition padding-top .2s ease-out, top .2s ease-out
    .handle
      top (header-scrolled-height - 13)
      transition top .2s ease-out
    #paginator
      a.page.previous::before
        top -5px
      a.page.next::before
        bottom 30px
  #main_content
    #breadcrumb
      top (header-scrolled-height+3)
      transition top .3s ease-out
  footer
    opacity 1
    font-size .85em
    bottom -(grid)
//}}}
//{{{ Collapsed left nav
body.collapsed
  .nicescroll-rails
    display none
  .logo a
    left 53px
    transition left .2s ease-out
  #left_content
    width 0!important
    transition width .1s
    .handle::before
      transform rotate(180deg)
      top 8px
      left 14px
      transition all .5s ease-out
    .handle
      right -25px
    .create a
      display none!important
  #main_content
    .resizable
      padding-left (grid*5)!important
      transition padding-left .2s ease-out
//}}}
//{{{ Search
html.search
  header
    .container
      .search
        #query.query
          position relative
          z-index 9
          font-size 1.35em
      .advanced
        right 80px
        top (header-height + 5)
        transition right .2s ease-out
        .check, label
          cursor pointer
    .onclick-close
      cursor pointer
      position absolute
      right 15px
      top 15px
      z-index 14
      opacity 1
      transition opacity .2s ease-out
html.search body.scrolled
  header
    .onclick-close
      top 7px
//}}}

//{{{ Login
.fancybox-wrap.on-validate
  #auth
    .validate
      display block!important
      h2
        font-size 1.5em
      .msg
        h3::before
          visibility hidden
        h3
          margin-top (grid*2)!important
          text-transform uppercase
          letter-spacing 0
          font-weight bold
  .register, .login
    display none!important
.fancybox-wrap.on-register
  #auth
    input[name="username"], input[name="password"]
      background #fff
    input[name="email"]:focus
      border-top-left-radius 4px
      border-top-right-radius 4px
    input[name="email"]
      border-top-left-radius 0
      border-top-right-radius 0
    .register
      display block!important
    .choose, .login, .forgot, .reset
      display none!important
.fancybox-wrap.on-choose
  #auth
    h3
    .choose
      display block!important
    .login, .forgot, .reset
      display none!important
    .msg
      visibility hidden
.fancybox-wrap.on-forgot
  #auth
    .forgot
      display block!important
    .login, .choose, .reset
      display none!important
.fancybox-wrap.on-reset
  #auth
    .reset
      display block!important
    .login, .choose, .forgot
      display none!important
.fancybox-wrap.on-error
  #auth
    .msg
      height 30px
      opacity 1
      transition height .5s, opacity 1s
#auth
  .strength-meter
    position absolute
    right 118px
    z-index 11
    height 20px
    width 6px
    margin-top -36px
  .toggle-password
    position absolute
    z-index 10
    margin-top -37px
    letter-spacing 1px
    font-size 11px
    font-weight 200
    right 130px
    padding 0 6px
    cursor pointer
  .register, .login, .forgot, .reset, .choose
    .tooltip
      width 210px
      bottom auto
      margin-top -42px
      font-size 1em
  .login .tooltip
    width 100px
    margin-left -60px
  .login
    .small.msg
      float right
      cursor help
      opacity 1
      height auto
      h3
        text-shadow none
        font-size .8em
  .choose, .forgot, .register, .reset
    h3
      margin-top (grid+2)
      float right
      padding-left 12px
    input[type='submit']
      margin-top 4px
  .error
    display none
  h2
    text-align center
    margin 20px 0 20px 0
    letter-spacing 3px
    font-weight 200
    font-style italic
    font-size 2em
  h3
    margin 0 5px 10px 0
  .social
    margin 20px auto
    width 313px
    a
      text-decoration none
  fieldset
    position relative
    padding 20px 102px
  input[name="email"]
    width 297px
    padding 10px
    margin -6px 0 5px 0
    position relative
  input[name="username"]
    width 300px
    display block
  input[name="password"]
    width 300px
  input[type="submit"]
    height 42px
    width 315px
    margin-left 2px
    margin-top 5px
    display block

//}}}
//{{{ Background layer
img.bg
  position fixed
  height 100%
  width 100%
  z-index 0
  left 0
  display none
  top 300px
img.bg.active
  top 0!important
  transition top .3s
  z-index 1!important
  //transition opacity .8s ease-out
  //opacity 1
  //display block
//}}}

//{{{ Tooltip
.tooltip-container:hover .tooltip, .tooltip.hover
  opacity .9
  transform scale(1) rotate(0) translate(0, 0)
.tooltip::before, .tooltip::after
  content ''
  position absolute
  bottom -13px
  left 50%
  margin-left -9px
  width 0
  height 0
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-top 10px solid rgba(0,0,0,0.1)
.tooltip::after
  bottom -12px
  margin-left -10px
.tooltip
  transition all .2s ease-in-out
  transform scale(0) rotate(40deg) translate(100px, 180px)
  display block
  position absolute
  z-index 99
  padding 5px 13px
  left 50%
  bottom 25px
  margin-left -117px
  font-style italic
  font-weight 400
  letter-spacing 1px
  font-size 1.2em
  text-align center
  cursor pointer
.tooltip.right::before, .tooltip.right::after
  border-right 10px solid rgba(0,0,0,0.1)
  border 9px solid transparent
  left -11px
  top -2px
.tooltip.right
  top 35%
  right -100px
  width 65px
//}}}
//{{{ Masonry
.masonry, .masonry .masonry-brick
  transition-duration 0.3s
.masonry
  transition-property width, height
.masonry .masonry-brick
  transition-property left, right, top
//}}}
// vim:fdm=marker
