
// Structure applied to ...

//{{{ Mutant States
html.homepage
  .left-content
    display none
  body.scrolled
    .left-chrome
      .user-profile
        left -2px!important
  
html.forum
  body.scrolled
    #left_content.container
      bottom 0
  body.searching
    #left_content.left-content
      padding-top 90px!important
      transition padding-top .2s ease-out
      .handle
        top 63px
        transition top .2s ease-out
    #main_content.main-content
      padding-top 30px!important
      transition padding-top .2s ease-out
  .left-content
    display block
    .photo, .created, .username
      display none
  .left-chrome
    display none

html.profile
  #left_content
    padding 0 (grid*2)
    .container
      overflow hidden
    .avatar img
      width 100%
  h1, h2, h3
    margin 0
//}}}
//{{{ Scrolled <body>
body.searching header
  .menu
    .row
      top -1px
      line-height 29px!important
      font-size 16px!important
body.scrolled
  .logo
    a
      top -(grid - 2)
      font-size .68em
  header
    height header-scrolled-height
    .container
      .menu
        > .row:hover
          .submenu
            top 34px
        .row
          top 1px
          line-height header-scrolled-height + 1
          font-size 16px
      .search
        top 0!important
        right 0!important
        .query
          font-size 1em
          width 340px!important
          height 15px
  #left_content.container
    top (header-scrolled-height+5)
    padding-top (grid * 1)
    transition padding-top .2s ease-out, top .2s ease-out
    .handle
      top (header-scrolled-height - (grid*2))
      transition top .2s ease-out
  #main_content.container
    #breadcrumb
      text-align center
      z-index 12
      top (header-scrolled-height+3)
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
      padding (grid/2+2) (grid*2) 2px (grid*2)
      font-size .9em
      transition top .35s ease-out
  footer
    opacity 1
    font-size .85em
    bottom -(grid)
    line-height (grid*2)
//}}}
//{{{ Collapsed left nav
body.collapsed
  .logo a
    left 53px
  .left-content.container
    width (grid/2)!important
    transition width .1s
    .handle
      transform rotate(180deg)
      right -15px!important
      text-indent -7px
      border-width 0!important
    .create a
      display none!important
  .main-content
    .resizable
      padding-left (grid*5)!important
      transition padding-left .2s ease-out
//}}}
//{{{ Expanded header (advanced searching)
body.searching
  header
    menu
      > .row:hover
        .submenu
          top (header-scrolled-height+3)!important
body.searching
  .stuck
    display none!important
  header
    height 80px!important
    transition background-color .25s ease-out, height .2s ease-out
    .container
      .search::before
        content ''
        border-top 8px solid transparent
        border-bottom 8px solid transparent
        position absolute
        top 25px
        left 0
      .search
        top -7px!important
        right auto!important
        #query.query
          position relative
          z-index 9
          font-size 31px
          padding 5px 20px
          letter-spacing 3px
          font-weight 100
          height 51px
          width 500px!important
      .advanced
        right 100px
        top 5px
        transition right .2s ease-out
        .check, label
          cursor pointer
    .close
      cursor pointer
      position absolute
      right 12px
      top grid
      display block
//}}}
// vim:fdm=marker
