vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// base layout & theme
@import "app/stylus/controls"

@import "component/Buy"
@import "component/ParallaxButton"
@import "component/Sales"
@import "component/SalesApp"
@import "component/Auth-layout"
@import "component/Auth-theme"
