vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// theamable color defaults (cyan/blue)
theme_alpha = rgba(230,245,255,.7)

colored_text = #fff
theme_color  = #4ccfea

dark_theme_color = #40bfdb
dark_text        = #3299b0


// base layout & theme
@import "app/stylus/theme"
@import "app/stylus/controls"
@import "app/stylus/tooltip"
@import "app/stylus/sprites"

@import "component/SalesRouter"
@import "component/Buy"
@import "component/ParallaxButton"
@import "component/SiteRegister"
@import "component/Sales"
@import "component/SuperAdmin"
@import "component/SuperAdminSites"
@import "component/SuperAdminUsers"
@import "component/UserEditor"
@import "component/Auth-layout"
@import "component/Auth-theme"
@import "component/MiniSiteList"

// animations last since they override some of fluidity
@import "app/stylus/animations"
