vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// theamable color defaults (cyan/blue)
lighta = rgba(230,245,255,.7)
light  = #4ccfea
dark   = #40bfdb
light2 = #00ffcc
dark2  = #25c6c5
dark_text  = #3299b0
light_text = #ddd


// base layout & theme
@import "app/stylus/theme"
@import "app/stylus/controls"
@import "app/stylus/tooltip"
@import "app/stylus/animations"
@import "app/stylus/sprites"

@import "component/SalesRouter"
@import "component/Buy"
@import "component/ParallaxButton"
@import "component/SiteRegister"
@import "component/Sales"
@import "component/SuperAdmin"
@import "component/SuperAdminSites"
@import "component/SuperAdminUsers"
@import "component/UserEditor"
@import "component/Auth-layout"
@import "component/Auth-theme"
@import "component/MiniSiteList"
