
vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// base layout & theme
@import "app/stylus/layout"
@import "app/stylus/theme"

@import "app/stylus/responsive"

// for iui mobile
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

@import "component/Auth-layout"
@import "component/Auth-theme"
@import "component/Buy"
@import "component/Chat"
@import "component/ParallaxButton"
