
vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// PowerBulletin cyan/blue theme default
theme_color  = #4ccfea
colored_text = #fff
sprite_hue   = 0deg

// tint color is placed over the background among other images (translucent)
tint_color = rgba(240,240,240,0.55)

// site-specific variable theme override
@import "public/sites/" + site-id + "/color-theme.styl"

theme_alpha      = rgba(tint(theme_color, 50%), .15)
dark_theme_color = darken(theme_color, 40%)
dark_text        = darken(theme_color, 60%)

// base layout & theme
@import "app/stylus/layout"
@import 'app/stylus/mutants-layout'
@import "app/stylus/theme"
@import 'app/stylus/mutants-theme'
@import 'app/stylus/tooltip'
@import "app/stylus/controls"
@import "app/stylus/responsive"

@import "app/stylus/sprites"

// for iui mobile
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

@import "component/Auth-layout"
@import "component/Auth-theme"
@import "component/AdminUpgrade"
@import "component/Buy"
@import "component/CensorReasonDialog"
@import "component/ChatList"
@import "component/ChatPanel"
@import "component/Paginator"
@import "component/PanelCollection"
@import "component/ParallaxButton"
@import "component/PhotoCropper"
@import "component/AdminMenu"
@import "component/SuperAdmin"
@import "component/SuperAdminSites"
@import "component/SuperAdminUsers"
@import "component/UserEditor"
@import "component/MainMenu"
@import "component/Uploader"
@import "component/Table"
@import "component/Editor"
@import "component/Pins"
@import "component/Homepage"
@import "component/MenuSummary"
@import "component/PostDrawer"

// animations last since they override some of fluidity
@import './app/stylus/animations'

// extra
@import "public/local/xbbcode.css"
