
vendors = webkit moz official

@import "fluidity"
@import "fluidity/type"
@import "fluidity/normalize"

grid = 10px

// theamable color defaults (cyan/blue)
lighta = rgba(230,245,255,.7)
light  = #4ccfea
//43c2e0
//dark   = #40bfdb
dark   = #3199b0
light2 = #00ffcc
dark2  = #25c6c5
dark_text  = #3199b0
light_text = #ddd


// base layout & theme
@import "app/stylus/layout"
@import 'app/stylus/mutants-layout'
@import "app/stylus/theme"
@import 'app/stylus/mutants-theme'
@import 'app/stylus/tooltip'
@import "app/stylus/controls"
@import "app/stylus/responsive"

@import "app/stylus/sprites"

// for iui mobile
*
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-touch-callout none

@import "component/Auth-layout"
@import "component/Auth-theme"
@import "component/AdminUpgrade"
@import "component/Buy"
@import "component/Chat"
@import "component/Paginator"
@import "component/ParallaxButton"
@import "component/PhotoCropper"
@import "component/AdminMenu"
@import "component/SuperAdmin"
@import "component/SuperAdminUsers"
