
// Theme details (esp. colors) applied to ...
a.mutant:hover
  text-decoration none!important

// Mutant-specific States
//{{{ - homepage
html.homepage
  #forum_background_color:after, #forum_background_buffer:after, #forum_background:after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color tint_color
  .main-content
    .container
      width 90%
      margin 0 auto
//}}}
//{{{ - forum, profile, search & moderation
html.forum, html.profile, html.search, html.moderation
  #forum_background_color:after, #forum_background_buffer:after, #forum_background:after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color tint_color
  .main-content
    .forum, .threads, .search
      .post.censored
        .body, blockquote, p
          text-decoration line-through
          font-size .95em
          color #888
          transition all .1s ease-out
      .post-edit
        form
          button
            position absolute
            right 13px
            bottom 13px
      .post
        overflow visible
        color #333
        &:hover
          color #111
          .post-edit:hover
            .summary:before
              transition none
              z-index 2
              border-left 5px solid theme_color
        .profile-container
          .username
            font-weight 500
            color dark_text
            text-transform capitalize
        .container
          background-color #fff
          &:after
            content ''
            position absolute
            left 0
            right 0
            bottom 0
            height 0
            box-shadow 0 0 10px 1px tint_color
          .body
            position relative
        .post-edit
          .summary:before
            border-left 4px solid #ccc
            transition all .2s ease-out .4s
        .hash-tag, .at-tag
          display inline-block
          padding 2px 4px
          border-radius 8px 2px
        .hash-tag
          background theme_alpha
          color dark_theme_color
        .at-tag
          color dark_theme_color

      // 2nd children and thereafter are comments
      .children
        .children
          .body
            color #666
          .post-content, .cke_editable
            p
              color #444
              margin-top 0
          .date
            color #888
      .actions
        position relative
        z-index 2
        a
          color dark_text
          .s-reply:after, .s-permalink:after, .s-censor:after
            position absolute
            content ''
            top 1px
            left 1px
            height 24px
            width 24px
            border-radius 24px
            background-color rgba(255,255,255,.4)
          .s-reply, .s-permalink, .s-censor
            position relative
            height 27px
            width 27px
  .left-content
    // for light & dark colors
    box-shadow 0 1px 1px rgba(0,0,0,.3), 0 2px 1px rgba(255,255,255,.3)
    background-image linear-gradient(to right, #f9f9f9 50%, #fff 70%)
    .threads
      .thread
        list-style-type none
        border-top 1px solid transparent
        border-left 2px solid transparent
        border-right 2px solid #fff
        transition box-shadow .3s ease-in .05s
        &:hover
          color #333
          a
            color #222
          &:after
            border-bottom 1px solid rgba(0,0,0,.12)
        &:before
          position absolute
          width 0
          top -1px
          left 0
          height 101%
          bottom -10px
          content ''
        &:after
          position absolute
          content ''
          border-bottom 1px solid rgba(0,0,0,.07)
          background-color rgba(255,255,255,.3)
          height 1px
          margin-top 7px
          z-index 2
          left 10%
          width 80%
        .title
          text-shadow none
          color dark_theme_color
          display inline-block
          border-bottom 1px solid transparent
        .created
          color #555
          opacity 0
        a
          color #444
          text-decoration none
        &:first-child
          border-top 1px solid transparent
        &:first-child:hover
          border-top 1px solid rgba(250,250,250,.2)
        &:hover
          background-color rgba(255,255,255,.2)
          .created
            opacity .8
          a
            color #222
      .thread.active
        border-radius 3px
        transition none
        background-image none
        background-color #fff
        &:before
          width 5px
          background-image linear-gradient(to top, dark_theme_color 15%, dark_theme_color 16%, lighten(theme_color, 12%) 75%, lighten(theme_color, 20%) 100%)
        // {{{ active thread arrow
        .arrow
          display none
          position absolute
          top 0
          right -51px
          margin-top 0
          z-index 9
          &:after
            position absolute
            content ''
            right -42px
            margin-top -42px
            z-index 2
        .arrow
          border 43px solid transparent
          border-left 12px solid theme_color
          right -55px
          &:after
            border 42px solid transparent
            border-left 12px solid #fff
            right -41px
        &.small .arrow
          border 32px solid transparent
          border-left 12px solid theme_color
          right -45px
          &:after
            border 32px solid transparent
            border-left 12px solid #fff
            margin-top -33px
            right -30px
        &.large .arrow
          border 55px solid transparent
          border-left 12px solid theme_color
          right -66px
          &:after
            border 55px solid transparent
            border-left 12px solid #fff
            margin-top -54px
            right -54px
        &.x-large .arrow
          border 69px solid transparent
          border-left 12px solid theme_color
          right -81px
          &:after
            border 64px solid transparent
            border-left 12px solid #fff
            margin-top -65px
            right -63px
        //}}}
      .thread.active:last-child, .thread.active
        z-index 9
        // background-color #fff
        border-right 1px solid theme_color
        border-bottom 1px solid theme_color
        border-top 1px solid #fff
        border-left 0
        box-shadow 0 0 4px 0 theme_color
        .title
          color dark_text
          font-style italic
        a
          color #000
        .created
          opacity .8em
          display block
      .thread.sticky
        background-image none
        background-color theme_alpha
        &.active
          .arrow
            &:after
              border-left 12px solid theme_alpha
//}}}
//{{{ - profile
html.profile
  .main-content
    .forum
      .heading
        .title
          color dark_text
//}}}
//{{{ - admin
html.admin
  #left_container
    li
      border-left 1px solid transparent
      height 23px
      &:hover
        border-radius 5px / 3px
      &.feature.upgrade
        font-size .75em
      &.feature.upgrade.active:after
        border-left-color dark_theme_color
      &.feature.upgrade.active
        background-color dark_theme_color
      &.feature
        position relative
        margin-top (grid*3)
        &:before
          content ''
          position absolute
          height 1px
          width 30px
          background-color #eaeaea
          top -(grid)
          left 50px
    li.active
      background-color dark_theme_color
      text-shadow 0 1px 0 #000
      border-radius 9px / 2px
      border-top-right-radius 0
      border-bottom-right-radius 0
      position relative
      border-left 1px solid #333
      border-bottom 2px solid #333
      a
        font-style italic
        color #fff
      &:after
        position absolute
        content ''
        top 0
        opacity 1
        right -34px
        border 17px solid transparent
        border-left 17px solid dark_theme_color
        transition all .1s ease-out
    li
      a
        padding 2px 8px
        font-size 1.2em!important
        text-decoration none
      &:after
        position absolute
        content ''
        top 10px
        opacity 0
        right -6px
        border 10px solid transparent

  .main-content
    .domains
      small
        vertical-align top
      form fieldset
        border 1px solid #f9f9f9
      select
        margin-top 3px
      .note
        width 600px
        font-size .95em
    form
      fieldset:hover
        border-radius 2px
        legend
          color #000
          transition all .1s ease-out
        label
          color #444
        img
          opacity 1
      fieldset
        color #555
        label
          color #777
        img
          opacity .9

      input[type="checkbox"]:checked + label .switch:after
        background-color theme_color
    .notes
      font-weight 300
      a
        color dark_theme_color
  //}}}
html.privateSite
  #info.tooltip
    z-index 9999
    height 55px
    padding-top 15px
  h2
    color #fff!important
  .fancybox-overlay .fancybox-wrap .fancybox-skin, .fancybox-overlay .fancybox-wrap .fancybox-inner
    background-color transparent
    background-image none
  .fancybox-overlay.fancybox-overlay-fixed
    background radial-gradient(circle closest-corner at 50% 30%, rgba(0,0,0,.3) 20%, rgba(0,0,0,.75) 100%)!important
  .fancybox-skin
    background-color rgba(0,0,0,.6)!important
    opacity .7
    transition opacity .5s ease-in
    &:hover, &.hover
      opacity .95
      transition none
    fieldset
      border 1px solid #222!important
      background-color rgba(10,10,10,.3)!important
  //#forum_background
  //  animation-name translate-and-scale
  //  animation-duration 20s
  //  animation-iteration-count infinite
  //  animation-direction alternate

// hover fx for links
.stylish
   //transition all .1s ease-out .05s
   &:hover
     transition none
     text-decoration none!important
     //border-radius 9px
     //background-color theme_color
// vim:fdm=marker
