
// Structure applied to ...

// Mutant-specific States
//{{{ - homepage
// XXX add html. selector here for any single-column layout & the leftnav will animate out, etc...
html.homepage, html.page
  .nicescroll-rails
    display none
  .left-content
    transform translateX(-600px)
    opacity 0
    transition all .2s cubic-bezier(1,.01,.69,1)
  .main-content
    padding-top header-height
    .forum
      .title
        text-align center
      clear both
      padding-left (grid*2)
      transition padding-left .4s ease-out
      .post
        float left
  .extra
    right 0
    z-index 7
    bottom (grid*8)
    width 175px
    height 100px
    position fixed
    .orderer::before
      content ''
      width 1px
      height 1px
      position absolute
      left 0
      top 11px
      z-index 3
      border-top-color transparent
      border-right-color transparent
      border-bottom-color transparent
    .orderer
      position relative
      height 95px
      overflow hidden
      cursor pointer
      #order
        display block
      .onclick-scroll-top
        position absolute
        right 1px
        bottom 0
        border-left 8px solid transparent
        border-right 8px solid transparent
  body.scrolled
    .main-content
      #left_chrome
        right -2px
        transition right .4s ease-out
//}}}
//{{{ - homepage & forum
html.forum .homepage .forum > .title
  display none
html.homepage, html.forum
  .homepage
    .post
      max-height 200px
      overflow hidden
      margin-bottom (grid*2)
    .subpost
      .username
        display none
//}}}
//{{{ - forum, profile & search
html.forum, html.profile, html.search
  body.scrolled
    .left-content
      bottom 0
  body.paginator
    .left-content
      .create
        margin (grid/2) (grid*2.5) (grid/2) (grid*2)
  .left-content.wide
    #left_container
      .create
        .button
          font-size 1.1em
      .threads
        .created
          opacity 1
          display inline
  .left-content
    transform translateX(0)
    opacity 1
    transition opacity .3s cubic-bezier(1,.01,.69,1)
    .photo, .username
      display none
    .create
      margin (grid/2) (grid*3.5) (grid/2) (grid*2)
      .button
        text-overflow ellipsis
        animation-name none
        font-size 1em
        display block
        padding 8px 10px
    .scrollable
      overflow hidden
      height 100%
    .threads
      //overflow-y scroll
      height 100%
      margin 0
      padding-top grid
      .thread
        position relative
        padding 0 (grid*1.5) grid (grid*2)
        .mutant
          display block
          border none
          outline none
          animation-name none
        .title
          overflow hidden
          max-height 65px
          text-transform capitalize
          margin grid grid 0 -5px
          padding 1px 5px 0 3px
        .username
          margin-right 5px
          font-size .7em
          em
            text-transform capitalize
            font-weight 600
            margin-left (grid/2)
            font-size 1.1em
        .created
          font-size .8em
          font-weight 200
          display none
        .clear
          margin-top -5px
        .created, .username, .post-count
          white-space nowrap
          text-overflow ellipsis
          margin-bottom -6px
        .post-count, .views
          font-weight bold
          font-size .8em
        .post-count, .views
          i
            font-weight 100
            font-size .9em
            margin 0 grid 0 (grid/2)
  #left_chrome
    display none
  .main-content
    .forum, .search
      position relative
      clear both
      min-height 650px
      margin-bottom (grid*6)
      p
        margin 0
      .container
        z-index 6
      .scroll-to
        position absolute
        right 0
        bottom -30px
      .post:hover
        position relative
        z-index 4
      #post_edit
        width 80%
        .photo
          margin 1px 9px 1px 1px
        .title
          margin-bottom 8px
        .button
          right 5px
          visibility hidden
      .post-edit:hover
        .close
          opacity 1
          transition opacity .2s ease-out .1s
      .reply
        width 405px
        .post-edit form
          clear both
          vertical-align top
          .close
            right -9px
            top -10px
          .summary
            vertical-align top
            display inline-block
            .photo
              margin-top 5px
          textarea
            height 30px
            min-height 30px
            width 320px
            margin-top 0
            vertical-align top
            display inline-block
          .button
            bottom 20px
            right 12px
      .post-edit
        position relative
        margin-bottom (grid*2)
        margin-top (grid/2)
        .tooltip
          bottom 63px
        form
          position relative
          text-align right
        .button
          position absolute
          z-index 15
          padding 2px 5px
          font-size 1em
          height 26px
          right -14px
          bottom 9px
          left auto
        .close
          opacity 0
          right -7px
          top 34px
          position absolute
          z-index 10
        .summary
          .profile.photo
            margin-left 3px
            border-radius 1px
            height 39px
            width 49px
            margin-top (grid/2)
        .summary::before:hover
          margin-left 2px
        .summary::before
          position absolute
          z-index 1
          content ''
          top 13px
          height 0
          width 0
          border-bottom 7px solid transparent
          border-right 7px solid transparent
          border-top 7px solid transparent
        .title
          display block
          width 50%
        #cke_body, textarea.body
          width 102%
          min-height 40px
          resize vertical
          display block
          margin grid 0
          min-height 40px
      .post.head
        padding-top (grid/2)
      .post:first-child
        padding-top grid
      .post.censored
        .onclick-censor-post
          display none!important
      .post
        position relative
        clear both
        margin-right (grid*4)
        padding-top (grid*2)
        .breadcrumb
          margin-bottom (grid*2)
          span, em
            display none
        .profile
          width 75px
          height 60px
          margin-bottom (grid)
        img
          max-width 100%
        .title
          margin 0 0 6px -1px
          font-size 1.5em
        .user
          font-weight bold
        .title, .user
          text-transform capitalize
        .body
          margin (grid/2) 0 grid 0
          clear both
          font-size 1.05em
          line-height 1.5
        .actions
          opacity 0
          clear both
          letter-spacing -10px
          margin-top (grid+2)
          margin-bottom 2px
          line-height 15px
          margin-left -6px
          a
            font-size .9em
            font-weight 400
            margin-right 2px
            margin-left 2px
            display inline
            padding 1px 5px
          .edit, .censor
            display none
      .page-loaded:last-child, #listview div[data-infinity-pageid]
        padding-bottom (grid*4) !important
      .post:hover
        .actions
          opacity 1
          letter-spacing 0
          transition opacity .3s, letter-spacing .09s
      .children
        font-size .95em
        .profile.photo
          width 60px
          height 45px
        .children
          margin-left (grid*3)
          .post
            padding-top grid
            textarea.body
              padding-top (grid/2)
            .user, .date
              display inline
              font-size .92em
            .user
              font-weight bold
            .date
              margin-left (grid/2)
            .profile
              margin-top (grid/2)
              border-radius 2px
              width 46px
              height 37px
//}}}
//{{{ - profile
html.profile
  .left-content
    .container
      margin 0 (grid*2)
      overflow hidden
      button
        margin 12px 2px 2px 2px
    .avatar img
      width 100%
      max-width 255px
    ul
      font-weight 300
    h1, h2, h3
      text-transform capitalize
      margin-top 0
      margin-left 0
  .main-content
    .forum
      .heading
        margin grid 0 0 0
        padding 0
        font-size 1em
        color #000
        text-transform none
        a
          text-decoration none
        b
          font-weight 300
          text-transform capitalize
        .title
          margin 0 1px 0 -1px
          padding 1px 5px
          font-size 1.12em
        .by, .forum-link
          margin-right 3px
          font-size .8em
          font-weight 200
          b
            font-size 1.1em
      .reply
        .summary
          .profile
            display block
      .post
        padding-top 0
        margin-left (grid/2)
        margin-top 2px
        b
          margin-left 1px
        .title
          font-size 1.4em
          letter-spacing -1px
        .body
          margin-top 0
        .profile
          display none
        .username
          display none
        .date
          font-weight 200
          font-style italic
          font-size .95em
          color #222
          display inline-block
          margin-right grid
          b
            font-weight 200
  ul
    list-style none
    margin grid 0 0 0
//}}}
//{{{ - search
html.search body.scrolled
  header
    .onclick-close
      top 5px
html.search
  #left_container 
    h1, h2, h3, h4
      margin 11px 0
      color #555
    #search_filters, #search_facets
      padding 0 15px
      select
        max-width 100%
    #facets
      .facet-title
        font-weight bold
      a.facet-hit
        display block
    .facet
      a
        display block
    a.facet-hit
      display block
      em
        font-size .9em
        color #555
        width 40px
        display inline-block
  .main-content
    #hit_count
      color #888
  header
    .search
    .container
      .search
        #query.query
          position relative
          z-index 9
        .onclick-close
          opacity 1!important
          right 11px
      .advanced
        right 80px
        top (header-height + 5)
        transition right .2s ease-out
        .check, label
          cursor pointer

    h2.title
      font-size 1em
      text-overflow ellipsis
      max-height 20px
      overflow hidden
//}}}
//{{{ - admin
html.admin
  .left-content
    max-width 150px
    background-color #f4f4f4
    border-right 1px solid #e8e8e8
    .handle
      display none
    #left_container
      menu
        float right
        list-style none
        padding 18px
        margin 0 0 0 3px
        transition all .2s ease-out
        li.active
          a
            right 6px
            transition right .15s ease-out
        li
          padding 5px 12px 5px 5px
          margin-bottom (grid+3)
          text-align right
          width 90px
          margin-right grid
          position relative
          a
            position absolute
            right 10px
            font-size 1.3em
            animation-name none
  .main-content
    padding-left 200px
    padding-bottom 50px
    .note
      color #aaa
      font-size .75em
      position absolute
      margin-top -4px
      left 183px
      a
        margin 0 6px
    .menus
      .col1, .col2
        float left
    .domains
      form
        fieldset
          padding grid (grid*3) grid (grid*8.5)
          margin (grid*3.5) (grid*2) (grid*3) 0
        img
          position absolute
          top -(grid*4)
          left 0
        label
          font-weight 300
          position absolute
          left 20px
          margin-top 8px
        input.first
          background #fff
          border-bottom-right-radius 0
          border-bottom-left-radius 0
        input:last-child
          border-top-right-radius 0
          border-top-left-radius 0
        input
          display block
          min-width 400px
          margin-bottom -1px
    form
      margin-top (grid*2)
      max-width 1300px
      position relative
      select
        margin 10px 0
      .emails
        width 305px
      .posts-per-page
        width 40px
      .domain
        display block
        font-size 1.2em
        select
          margin 0 0 0 10px
        label
          position relative
          display inline-block
          font-size 1em
          width 150px
          left 0
      label
        width 140px
        font-weight 300
        font-size 1.2em
        display inline-block
        vertical-align top
        margin-top grid
        letter-spacing -1px
      .break
        padding-bottom (grid*2.5)
        clear both
      .break.double
        padding-top (grid*2.5)
      fieldset
        padding grid (grid*3) grid (grid*4)
        border 0
        margin -(grid*2) (grid*2) (grid*3) 0
        display inline-block
        position relative
        select
          padding 5px
        legend
          margin -20px
          padding 20px
          font-weight 100
          font-size 1.4em
          position absolute
          top -35px
          left (grid*4)
        textarea
          width 305px
          height 100px
          font-size 1em
      .button
        display block
        width 420px
        height 40px
        margin-left 85px
      .tooltip
        left 350px
        bottom 60px

      input[type="checkbox"]
        display none

      input[type="checkbox"]:checked ~ label .switch
        margin-left 40px
        padding 6px
        margin-top -1px
      label.switch-control
        display inline-block
        width 60px
        height 20px
        padding 3px
        margin 0 10px 8px 0
        border-radius 30px
        background rgba(0,0,0,.1)
        box-shadow inset 0 2px 10px #666, 0 2px 5px #eee

      .box
        display inline-block
        margin-top 12px

      input[type="checkbox"]:checked + label .switch::after
        transition background-color .3s ease-out
      .switch 
        cursor pointer
        display block
        width 10px
        height 10px
        padding 4px
        margin-top 1px
        background #eee
        box-shadow inset 0 0 2px rgba(0, 0, 0,0.25), 0 0 5px #999
        border-radius 20px
        transition all .4s cubic-bezier(0,1.72,0,.75)
      .switch::after 
        content ''
        display block
        float left
        margin 0
        width 10px
        height 10px
        background #888
        border-radius 8px
        box-shadow inset 0 0 3px #555

      span
        color #aaa
        font-size 18px
        font-weight bold
        line-height 26px
        label
          width 60px

      input[type="checkbox"]:checked ~ span[class*="checked"]
        color #444
//}}}

#left_container
  height 100%
  overflow hidden

#order
  position relative
  box-sizing border-box
  padding (grid) (grid) (grid*7) (grid*2)
  text-align center
  overflow-y scroll
  display none
  height 109px
  margin 0
  list-style none
  li
    font-size .8em
    padding 0 0 1px 0
    margin 0 0 5px 0
.indicator
  top 21px
  position absolute
  left 0
  width 140px
  height 1px

// vim:fdm=marker
