
// Theme details (esp. colors) applied to ...
a.mutant:hover
  animation-name tiny-grow
  animation-duration .1s
  text-decoration none!important

// Mutant-specific States
//{{{ - homepage
html.homepage
  .main-content
    .container
      width 90%
      margin 0 auto
    .forum
      .post
        .profile
          background-color #fafafa
          border 1px solid #555
          font-weight bold
        .post-edit
          .title
            border-bottom-left-radius 0
            border-bottom-right-radius 0
      .user
        font-weight 500
  .extra
    .orderer::before
      border-left 15px solid #ddd
      border-top 10px solid transparent
      border-bottom 10px solid transparent
    .orderer:hover
      background-image linear-gradient(bottom, #fcfcfc 0%, #fff 23%, #cfcfcf 85%, #cfcfcf 100%)
    .orderer
      border-bottom-left-radius 5px
      border-top-left-radius 5px
      background-image linear-gradient(bottom, #fff 0%, #fff 23%, #ccc 85%, #ccc 100%)
      border 1px solid #ccc
      border-bottom 2px solid #bbb
      border-left-width 1px
      padding 2px
      a
        display block
        padding 8px
      color #555
      font-weight 100
      li
        letter-spacing 2px
      .indicator
        opacity .3
        background-color #666
      .onclick-scroll-top
        border-bottom 10px solid #555
      .onclick-scroll-top:hover
        border-bottom 10px solid #777
      #order
        li.active
          color #000
          font-weight 500
          font-size .95em
          animation-name tiny-grow
          animation-duration .25s
//}}}
//{{{ - forum, profile, search & moderation
html.forum, html.profile, html.search, html.moderation
  #forum_background_buffer::after, #forum_background::after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    background-color tint-color
  .main-content
    .forum, .threads, .search
      .post:hover
        color #111
        .post-edit:hover
          .summary::before
            transition none
            z-index 2
            border-left 5px solid light
        p.body
          border-bottom 1px solid rgba(0,0,0,.05)
      .post.censored
        .body, blockquote, p
          text-decoration line-through
          opacity .8
          font-size .8em
          color #888
          transition all .1s ease-out
      .post-edit
        form
          button
            position absolute
            right 13px
            bottom 13px
      .post
        overflow visible
        color #333
        .username
          font-weight 500
          color dark_text
          text-transform capitalize
        p.body
          background-color rgba(0,0,0,.015)
          border-bottom 1px solid transparent
        .post-edit
          .summary::before
            border-left 4px solid #ccc
            transition all .2s ease-out .4s
        .hash-tag, .at-tag
          display inline-block
          padding 2px 4px
          border-radius 8px 2px
        .hash-tag
          background lighta
          color dark
        .at-tag
          color dark

      // 2nd children and thereafter are comments
      .children
        .children
          p.body, .user span
            color #666
          .container
            max-width 450px
          .container, .actions
            margin-left 52px
          .username
            color #444
          .user
            .profile.photo
              position absolute
          .post-content, .cke_editable
            p
              color #444
              margin-top 0
          .date
            color #999
            text-transform lowercase
            padding-right (grid*2.5)
      .actions
        a:active, a:focus
          background radial-gradient(circle closest-corner at 55% 65%, light2 85%, dark2 100%)
        a:hover
          background radial-gradient(circle closest-corner at 45% 35%, light2 55%, dark2 100%)
        a
          color dark
          background-color light2
          background-image linear-gradient(to top, dark2 10%, light2 100%)
          border-radius 27px
          .s-reply::after, .s-permalink::after, .s-censor::after
            position absolute
            content ''
            top 1px
            left 1px
            height 24px
            width 24px
            border-radius 24px
            background-color rgba(255,255,255,.4)
          .s-reply, .s-permalink, .s-censor
            position relative
            height 27px
            width 27px
  .left-content
    // for light & dark colors
    box-shadow 0 1px 1px rgba(0,0,0,.3), 0 2px 1px rgba(255,255,255,.3)
    .threads
      .thread
        list-style-type none
        border-top 1px solid transparent
        border-left 2px solid transparent
        border-right 2px solid transparent
        &::after
          position absolute
          content ''
          border-bottom 1px solid rgba(0,0,0,.1)
          background-color rgba(255,255,255,.3)
          height 1px
          margin-top 10px
          left 10%
          width 80%
        .title
          text-shadow none
          color dark
          display inline-block
          border-bottom 1px solid transparent
        .created
          color #444
          opacity 0
        a
          color #333
          text-decoration none
      .thread:first-child
        border-top 1px solid transparent
      .thread:first-child:hover
        border-top 1px solid rgba(250,250,250,.2)
      .thread:hover::after
        border-bottom 1px solid rgba(0,0,0,.2)
      .thread:hover
        //border-bottom 1px solid rgba(90,90,90,.2)
        background-color rgba(255,255,255,.2)
        //transition border-bottom .5s ease-out, background-color .3s ease-out
        .created
          opacity .8
          transition opacity .3s ease-out
        a
          color #222
      .thread.active::after
        height 0
        border none
      .thread::before
        position absolute
        top -1px
        bottom -1px
        left 0
        width 0
        content ''
      .thread.active::before
        background-image linear-gradient(to top, dark 10%, light 100%)
        width 6px
        transition all .2s ease-out
      .thread.active:hover
        a #fff
      .thread.active:last-child, .thread.active
        position relative
        z-index 9
        background-color #fff
        border-right 1px solid light
        border-bottom 1px solid light
        border-top 1px solid #fff
        border-left 0
        background-image linear-gradient(to top, #e2e2e2 0, #fff 100%)
        box-shadow 0 0 4px 0 light
        transition box-shadow .2s ease-out
        .title
          color dark_text
          font-style italic
        a
          color #000
        .created
          opacity .8em
          display block
//}}}
//{{{ - profile
html.profile
  .left-content
    h2
      color dark_text
  .left-content.editable
    .avatar img
      cursor copy
  .main-content
    .forum
      .heading
        .title
          color dark_text
//}}}
//{{{ - admin
html.admin
  #left_container
    li
      border-left 1px solid transparent
      height 23px
      &:hover
        border-radius 5px / 3px
      &.feature.upgrade
        font-size .75em
      &.feature.upgrade.active::after
        border-left-color dark2
      &.feature.upgrade.active
        background-color dark2
      &.feature
        position relative
        margin-top (grid*3)
        &::before
          content ''
          position absolute
          height 1px
          width 30px
          background-color #eaeaea
          top -(grid)
          left 50px
    li.active
      background-color dark
      text-shadow 0 1px 0 #000
      border-radius 9px / 2px
      border-top-right-radius 0
      border-bottom-right-radius 0
      position relative
      border-left 1px solid #333
      border-bottom 2px solid #333
      a
        font-style italic
        color #fff
      &::after
        position absolute
        content ''
        top 0
        opacity 1
        right -34px
        border 17px solid transparent
        border-left 17px solid dark
        transition all .1s ease-out
    li
      a
        padding 2px 8px
        font-size 1.2em!important
        text-decoration none
      &::after
        position absolute
        content ''
        top 10px
        opacity 0
        right -6px
        border 10px solid transparent

  .main-content
    .domains form fieldset
      border 1px solid #f9f9f9
    form
      fieldset:hover
        border-radius 2px
        legend
          color #000
          transition all .1s ease-out
        label
          color #444
        img
          opacity 1
      fieldset
        color #555
        label
          color #777
        img
          opacity .9

      input[type="checkbox"]:checked + label .switch::after
        background-color light
    .notes
      font-weight 300
      a
        color dark
  //}}}
html.privateSite
  .fancybox-overlay .fancybox-wrap .fancybox-skin, .fancybox-overlay .fancybox-wrap .fancybox-inner
    background-color transparent
    background-image none
  .fancybox-skin
    background radial-gradient(circle closest-corner at 50% 50%, #fff 78%, #cacaca 100%)!important
    fieldset
      border 1px solid #eee!important
      background-color transparent!important
  //#forum_background
  //  animation-name translate-and-scale
  //  animation-duration 20s
  //  animation-iteration-count infinite
  //  animation-direction alternate

// hover fx for links
.stylish
   //transition all .1s ease-out .05s
   &:hover
     transition none
     text-decoration none!important
     //border-radius 9px
     //background-color light
// vim:fdm=marker
