
// Structure applied to ...

// Mutant-specific States
//{{{ - homepage
html.homepage
  #main_content
    .header
      text-align center
    .header, .container
      width 90%
      margin 0 auto
    .forum.light
      .header
        color #777
      .header::before
        position absolute
        opacity 0
    .forum:first-child
      .header::before
        top 50px
    .forum
      //background-color rgba(255,255,255,.94)
      .header
        font-weight 100
        font-size 2.1em
        line-height 2em
      .post
        .profile
          background-color #fafafa
          border 1px solid #555
          font-weight bold
        .post-edit
          .sceditor-container
            border-top-left-radius 0
            .sceditor-toolbar
              background-color #fafafa
              border-bottom 1px solid #eee
          .title
            border-bottom-left-radius 0
            border-bottom-right-radius 0
      .user
        font-weight 500
  .extra
    .orderer::before
      border-left 15px solid #ddd
      border-top 10px solid transparent
      border-bottom 10px solid transparent
    .orderer:hover
      background-image linear-gradient(bottom, #fcfcfc 0%, #fff 23%, #cfcfcf 85%, #cfcfcf 100%)
    .orderer
      border-bottom-left-radius 5px
      border-top-left-radius 5px
      background-image linear-gradient(bottom, #fff 0%, #fff 23%, #ccc 85%, #ccc 100%)
      border 1px solid #ccc
      border-bottom 2px solid #bbb
      border-left-width 1px
      padding 2px
      a
        display block
        padding 8px
      color #555
      font-weight 100
      li
        letter-spacing 2px
      .indicator
        opacity .3
        background-color #666
      .scroll-to-top
        border-bottom 10px solid #555
      .scroll-to-top:hover
        border-bottom 10px solid #777
      #order
        li.active
          color #000
          font-weight 500
          font-size .95em
          animation-name tiny-grow
          animation-duration .25s
//}}}
//{{{ - forum & profile
html.forum, html.profile
  #main_content
    .forum, .threads
      .children + .post:nth-last-child(2)
          border-bottom 1px solid transparent
      .post:hover
        border-bottom 1px solid rgba(200,200,200,.5)
        color #000
      .post
        color #444
        border-bottom 1px solid rgba(200,200,200,.2)
      .children
        .children
          .body, .date, .user span
            color #555
      .actions a
        color highlight-color2
  #left_content
    .threads
      .thread:last-child
        border-bottom 1px solid transparent
      .thread:last-child:hover, .thread
        border-bottom 1px solid rgba(100,100,100,.1)
      .thread
        border-top 1px solid transparent
        .title
          text-shadow none
          color #333
        a
          color #555
          text-decoration none
      .thread:first-child
        border-top 1px solid transparent
      .thread:first-child:hover
        border-top 1px solid rgba(250,250,250,.2)
      .thread:hover
        border-bottom 1px solid rgba(100,100,100,.3)
        background-color rgba(200,200,200,.4)
        transition border-bottom .5s ease-out, background-color .3s ease-out
        a
          color #333
      .thread.active:hover
        a #fff
      .thread.active:last-child, .thread.active
        border-bottom 1px solid #eee
        border-top 1px solid #666
        background-color rgba(40, 40, 40, .4)
        transition background-color .5s cubic-bezier(0, 0, 0.17, 1)
        a
          color #fff
          text-shadow 0 0 2px #000
        .title
          text-shadow 0 0 2px #000
          color #fff

//}}}

html.profile
  h1
    color #222

// vim:fdm=marker
