
// Theme details (esp. colors) applied to ...

a.mutant:hover
  animation-name tiny-grow
  animation-duration .1s
  text-decoration none!important

// Mutant-specific States
//{{{ - homepage
html.homepage
  .main-content
    .container
      width 90%
      margin 0 auto
    .forum
      .post
        .profile
          background-color #fafafa
          border 1px solid #555
          font-weight bold
        .post-edit
          .title
            border-bottom-left-radius 0
            border-bottom-right-radius 0
      .user
        font-weight 500
  .extra
    .orderer::before
      border-left 15px solid #ddd
      border-top 10px solid transparent
      border-bottom 10px solid transparent
    .orderer:hover
      background-image linear-gradient(bottom, #fcfcfc 0%, #fff 23%, #cfcfcf 85%, #cfcfcf 100%)
    .orderer
      border-bottom-left-radius 5px
      border-top-left-radius 5px
      background-image linear-gradient(bottom, #fff 0%, #fff 23%, #ccc 85%, #ccc 100%)
      border 1px solid #ccc
      border-bottom 2px solid #bbb
      border-left-width 1px
      padding 2px
      a
        display block
        padding 8px
      color #555
      font-weight 100
      li
        letter-spacing 2px
      .indicator
        opacity .3
        background-color #666
      .onclick-scroll-top
        border-bottom 10px solid #555
      .onclick-scroll-top:hover
        border-bottom 10px solid #777
      #order
        li.active
          color #000
          font-weight 500
          font-size .95em
          animation-name tiny-grow
          animation-duration .25s
//}}}
//{{{ - forum & profile
html.forum, html.profile, html.search
  .main-content
    .forum, .threads, .search
      .children + .post:nth-last-child(2)
          border-bottom 1px solid transparent
      .post:hover
        border-bottom 1px solid rgba(200,200,200,.3)
        color #111
        .post-edit:hover
          .summary::before
            border-left 5px solid highlight-color2
            transition border-right .2s ease-out .1s
      .post.censored
        .body, blockquote, p
          text-decoration line-through
          opacity .8
          font-size .8em
          color #888
          transition all .1s ease-out
      .post
        overflow visible
        color #333
        border-bottom 1px solid rgba(200,200,200,.15)
        .post-edit
          .summary::before
            border-left 4px solid #ccc
        .hash-tag, .at-tag
          display inline-block
          padding 2px
          border-radius 2px
        .hash-tag
          background #f08b0b
          color #fff
        .at-tag
          background #4cc2af
          color #fff

      .children
        .children
          .body, .user span
            color #666
          .container
            float left
          .username
            color #444
          .post-content, .cke_editable
            p
              color #444
              margin-top 0
          .date
            color #999
            text-transform lowercase
      .actions a
        color highlight-color2
  .left-content
    .threads
      .thread:last-child
        border-bottom 1px solid transparent
      .thread:last-child:hover, .thread
        border-bottom 1px solid rgba(100,100,100,.05)
      .thread
        list-style-type none
        border-top 1px solid transparent
        border-left 2px solid transparent
        border-right 2px solid transparent
        .title
          text-shadow none
          color highlight-color2
          display inline-block
          border-bottom 1px solid transparent
        .created
          color #444
          opacity 0
        a
          color #555
          text-decoration none
      .thread:first-child
        border-top 1px solid transparent
      .thread:first-child:hover
        border-top 1px solid rgba(250,250,250,.2)
      .thread:hover
        border-bottom 1px solid rgba(90,90,90,.2)
        background-color rgba(255,255,255,.2)
        transition border-bottom .5s ease-out, background-color .3s ease-out
        .created
          opacity .8
          transition opacity .3s ease-out
        a
          color #222
      .thread.active:hover
        a #fff
      .thread.active:last-child, .thread.active
        background-color #fff
        border-radius 5px / 10px
        border-right 2px solid #ddd
        border-bottom 1px solid #ddd
        border-top 1px solid #fff
        border-left 3px solid highlight-color2
        background-image linear-gradient(to top, #f5f5f5 54px, #fafafa 58px, #fff 100%)
        transition background-color .5s cubic-bezier(0, 0, 0.17, 1)
        a
          color #111
        .created
          opacity 1
          display block
//}}}
//{{{ - profile
html.profile
  h1
    color #222
  .left-content.editable
    .avatar img
      cursor copy
  .main-content
    .forum
      .heading
        .title
          color highlight-color2
//}}}
//{{{ - admin
html.admin
  #left_container
    li.feature
      font-size .7em
    li:hover
      border-radius 5px / 3px
    li
      border-left 1px solid transparent
      height 23px
    li.feature.upgrade.active::after
      border-left-color highlight-color2
    li.feature.upgrade.active
      background-color highlight-color2
      border-left 1px solid #666
      border-bottom 1px solid #666
      a
        color #333
    li.active
      background-color #666
      text-shadow 0 1px 0 #000
      border-radius 8px / 4px
      border-top-right-radius 0
      border-bottom-right-radius 0
      position relative
      border-left 1px solid #333
      border-bottom 1px solid #333
    li::after
      position absolute
      content ''
      top 10px
      opacity 0
      right -5px
      border 10px solid transparent
    li.active::after
      position absolute
      content ''
      top 0
      opacity 1
      right -34px
      border 17px solid transparent
      border-left 17px solid #666
      transition all .1s ease-out
    li
      a
        padding 2px 8px
        font-size 1.4em
        text-decoration none

  .main-content
    background-color #fcfcfc
    .domains form fieldset
      border 1px solid #f9f9f9
    form
      fieldset:hover
        border-radius 2px
        legend
          color #000
          transition all .1s ease-out
        label
          color #444
        img
          opacity 1
      fieldset
        color #555
        label
          color #777
        img
          opacity .9

      input[type="checkbox"]:checked + label .switch::after
        background-color #ffa500
      label[for="hide_menu"]:hover, label[for="private"]:hover, label[for="invite_only"]:hover
        box-shadow inset 0 2px 10px #666, 0 2px 5px #eee, 0px 0px 0px 1px highlight-color2
        transition box-shadow .1s ease-out
    .notes
      font-weight 300
      a
        color highlight-color2
  //}}}
html.search
  header
    .onclick-close
      box-shadow 0 0 0 1px highlight-color2
    .search
      #query.query, #query.query:focus, #query.query:hover
        border-bottom 1px solid highlight-color2

// hover fx for links
.stylish:hover
   //background-color highlight-color2
   //color #fff!important
   //color #000!important
   text-decoration none!important
   border-radius 4px / 2px
   background-image linear-gradient(bottom, transparent 99%, highlight-color2)
   border-bottom 1px solid highlight-color2!important
   transform scale(1.04)
   text-indent -1px
   transition all .1s ease-out .05s
// vim:fdm=marker
