
// Structure applied to ...

// Mutant-specific States
//{{{ - homepage
html.homepage
  #left_content
    display none
  #main_content
    padding-top header-height
    .forum
      padding-left (grid*2)
  .extra
    right 0
    z-index 7
    bottom (grid*8)
    width 175px
    height 100px
    position fixed
    .orderer::before
      content ''
      width 1px
      height 1px
      position absolute
      left 0
      top 11px
      z-index 3
      border-top-color transparent
      border-right-color transparent
      border-bottom-color transparent
    .orderer
      position relative
      height 95px
      overflow hidden
      cursor pointer
      #order
        display block
      .scroll-to-top
        position absolute
        right 1px
        bottom 0
        border-left 8px solid transparent
        border-right 8px solid transparent
  body.scrolled
    #main_content
      #left_chrome
        right -2px
        transition right .4s ease-out
//}}}
//{{{ - homepage & forum
html.homepage, html.forum
  .homepage
    .subpost
      .username
        display none
//}}}
//{{{ - forum, profile & search
html.forum, html.profile, html.search
  body.scrolled
    #left_content
      bottom 0
  body.paginator
    #left_content
      .create
        margin (grid/2) (grid*2.5) (grid/2) (grid*2)
  #left_content.wide
    #left_container
      .threads
        .created
          display block
          opacity 1
  #left_content
    display block
    .photo, .username
      display none
    .create
      margin (grid/2) (grid*3.5) (grid/2) (grid*2)
      a
        text-overflow ellipsis
        text-decoration none
        animation-name none
        font-size 1em
        padding 8px 10px
        display block
    .threads
      overflow-y scroll
      height 100%
      margin 0
      padding-top grid
      .thread
        position relative
        padding 1px (grid*1.5) grid ((grid*2)+3)
        .mutant
          display block
          animation-name none
        .title
          overflow hidden
          max-height 65px
          text-transform capitalize
          margin grid grid 0 -5px
          padding 1px 5px
        .username
          font-size .7em
          em
            text-transform capitalize
            font-weight 600
            margin-left (grid/2)
            font-size 1.1em
        .created
          font-size .8em
          display inline-block
          font-weight 200
          padding 1px 5px
          position absolute
          right (grid/2)
          bottom grid
        .created, .username, .post-count
          white-space nowrap
          text-overflow ellipsis
          margin-bottom -6px
        .post-count, .views
          font-weight bold
          font-size .8em
        .post-count, .views
          i
            font-weight 100
            font-size .9em
            margin 0 grid 0 (grid/2)

      .thread:last-child
        margin-bottom (grid*10)
  #left_chrome
    display none
  #main_content
    .forum
      position relative
      clear both
      min-height 650px
      margin-bottom (grid*6)
      p
        margin 0
      .container
        z-index 6
      .header.stuck::before
        opacity 1!important
      .header
        width 95%
        overflow visible
        text-align center
        .description
          text-rendering optimizelegibility
          text-transform capitalize
          overflow hidden
          text-overflow ellipsis
          width 45%
          left 19%
          position relative
          z-index 2
      .scroll-to
        position absolute
        right 0
        bottom -30px
      .post:hover
        position relative
        z-index 4
      .post-edit:hover
        .close
          opacity 1
          transition opacity .2s ease-out .1s
      .reply .post-edit form
          width 350px
      .post-edit
        position relative
        margin-bottom (grid*2)
        margin-top (grid/2)
        form
          position relative
          text-align right
        .button
          position absolute
          left 70px
          bottom -41px
          z-index 15
          padding 2px 5px
          font-size .9em
          height 25px
        .close
          opacity 0
          right -25px
          top -7px
          position absolute
          z-index 10
        .summary
          .profile.photo
            margin-left grid
            border-radius 1px
            height 39px
            width 49px
            margin-top (grid/2)
        .summary::before
          position absolute
          z-index 1
          content ''
          bottom -23px
          left 2px
          height 0
          width 0
          border-bottom 15px solid transparent
          border-left 15px solid transparent
          border-right 15px solid transparent
        .sceditor-container, .sceditor-container div, div.sceditor-dropdown, div.sceditor-dropdown div
          z-index 1
          overflow hidden
          margin-bottom (grid*2)
          margin-bottom grid
          border-top-left-radius 0
          right 0
          iframe
            width 99%!important
        .title
          display block
          width 100%
          margin-bottom 0
          border-radius 0
          border-left 0
          border-right 0
          border-top 0
        textarea.body
          min-height 40px
          height 40px
          resize vertical
          width 100%
          display block
          margin grid 0
          min-height 40px
      .post.head
        padding-top (grid/2)
      .post
        position relative
        clear both
        margin-right (grid*4)
        padding-top (grid*2)
        .breadcrumb
          margin-bottom (grid*2)
          span, em
            display none
        .profile
          width 75px
          height 60px
          margin-bottom (grid)
        img
          max-width 100%
        .title
          margin 0 0 1px -1px
          font-size 1.5em
        .user
          font-weight bold
        .title, .user
          text-transform capitalize
        .body
          margin (grid/2) 0 grid 0
          clear both
          font-size 1.05em
        .actions
          opacity 0
          clear both
          letter-spacing -10px
          margin-top (grid+2)
          margin-bottom (grid+2)
          line-height 15px
          margin-left -6px
          a
            font-size .9em
            font-weight 400
            margin-right 2px
            margin-left 2px
            display inline
            padding 1px 5px
          .edit
            display none
        .comment
          position relative
          width 250px
          padding-bottom 40px
          .body
            margin-bottom grid
          .submit
            position absolute
            z-index 5
            top grid
            right grid
      .page-loaded:last-child, #listview div[data-infinity-pageid]
        padding-bottom (grid*4) !important
      .post:hover
        .actions
          opacity 1
          letter-spacing 0
          transition opacity .3s, letter-spacing .09s
      .children
        font-size .9em
        .profile.photo
          width 60px
          height 45px
        .children
          margin-left (grid*3)
          .post
            padding-top grid
            .actions
              margin-top (grid/2)
              margin-bottom (grid/2)
            textarea.body
              padding-top (grid/2)
            .body
              clear none
              margin-top -(grid/2)
              padding-top 0
              font-size 1em
            .user, .date
              display inline
              font-size .92em
            .user
              font-weight bold
            .date
              margin-left (grid/2)
            .profile
              margin-top (grid/2)
              border-radius 2px
              width 45px
              height 37px
//}}}
//{{{ - profile
html.profile
  #left_content
    .container
      margin 0 (grid*2)
      overflow hidden
    .avatar img
      width 100%
      max-width 255px
    ul
      font-weight 300
  h1, h2, h3
    text-transform capitalize
    margin-top 0
    margin-left 0
  #main_content
    .forum
      .heading
        margin grid 0 0 0
        padding 0
        font-size 1em
        color #000
        text-transform none
        a
          text-decoration none
        b
          font-weight 300
          text-transform capitalize
        .title
          margin 0 1px 0 -1px
          padding 1px 5px
          font-size 1.12em
        .by, .forum
          margin-right 3px
          font-size .8em
          font-weight 200
          b
            font-size 1.1em
      .reply
        .summary
          .profile
            display block
      .post
        padding-top 0
        margin-left (grid/2)
        margin-top 2px
        b
          margin-left 1px
        .title
          font-size 1.4em
          letter-spacing -1px
        .body
          margin-top 0
        .profile
          display none
        .username
          display none
        .post-edit .button
          right -14px
          bottom 7px
          left auto
        .date
          font-weight 200
          font-style italic
          font-size .95em
          color #222
          display inline-block
          margin-right grid
          b
            font-weight 200
  ul
    list-style none
    margin grid 0 0 0
//}}}
//{{{ - search
html.search
  #left_content
    .hits
      h2.title
        font-size 1em
        text-overflow ellipsis
        max-height 20px
        overflow hidden
//}}}
//{{{ - admin
html.admin
  #left_container
    menu
      list-style none
      padding 12px
      margin 0 0 0 3px
      li
        margin-bottom (grid+3)
  #main_content
    .authorization
      form
        fieldset
          padding grid (grid*3) grid (grid*8.5)
          margin (grid*3.5) (grid*2) (grid*3) 0
        img
          position absolute
          top -(grid*4)
          left 0
        label
          font-weight 300
          position absolute
          left 20px
          margin-top 8px
        input.first
          background #fff
          border-bottom-right-radius 0
          border-bottom-left-radius 0
        input:last-child
          border-top-right-radius 0
          border-top-left-radius 0
        input
          display block
          min-width 400px
          margin-bottom -1px
    form
      margin-top (grid*2)
      max-width 1300px
      position relative
      select
        margin 10px 0
      .posts-per-page
        width 40px
      .domain
        display block
        font-size 1.2em
        select
          margin 0 0 0 10px
        label
          position relative
          display inline-block
          font-size 1em
          width 150px
          left 0
      label
        width 140px
        font-weight 300
        font-size 1.2em
        display inline-block
        vertical-align top
        margin-top grid
      .break
        margin-top grid
      fieldset
        padding grid (grid*3) grid (grid*4)
        border 0
        margin -(grid*2) (grid*2) (grid*3) 0
        display inline-block
        position relative
        select
          padding 5px
        legend
          margin -20px
          padding 20px
          font-weight 100
          font-size 1.4em
          position absolute
          top -35px
          left (grid*4)
        textarea
          width 305px
          height 100px
      .button
        display block
        width 420px
        height 40px
        margin-left 85px
//}}}

#left_container
  height 100%
  overflow hidden

#order
  position relative
  box-sizing border-box
  padding (grid) (grid) (grid*7) (grid*2)
  text-align center
  overflow-y scroll
  display none
  height 109px
  margin 0
  list-style none
  li
    font-size .8em
    padding 0 0 1px 0
    margin 0 0 5px 0
.indicator
  top 21px
  position absolute
  left 0
  width 140px
  height 1px

// vim:fdm=marker
