
// RESPONSIVEness
@media screen and (min-width: 1500px)
  .main-content
    .forum, .search
      margin 0 150px 0 30px

// oneliner titles on left pane
@media screen and (max-height: 450px)
  .left-content
    .threads
      .post-count, .views, .profile, .username
        display none!important
@media screen and (max-width: 800px)
  body.collapsed
    grid(100%,475px)
    .main-content
      .forum, .search
        padding-left (grid*12)!important
        margin-left 0!important
        .social
          bottom 12px
          z-index 6
        .post-bottom + .social
          bottom 30px
        .post
          margin-right 12px
          .container
            margin-left 7px
          .profile-container
            margin-left -190px
            transform scale(.7)
        // 1st level replies
        .children
          margin-left 0!important
          .container
            margin-left 10px!important
          .profile-container
            margin-left -190px!important
          .actions
              left 12px
          // comments
          .children
            .profile-container
              margin-left -212px!important
  body.scrolled
    .logo
      display none
  body
    grid(100%,475px)
    #left_chrome
      display none!important
    .logo
      display none
    .search
      left 15px!important
      width 300px
      #query
        width 300px
    #main_content
      .offer
        max-width 100%!important

@media screen and (max-width: 500px)
  header
    font-size 0.8em
    display none
  body
    grid(100%,320px)
    #main-content
      margin-left 0!important
      padding 25px 15px!important
      .forum, .search
        margin-bottom grid!important
  body.scrolled
    .main-content
      #breadcrumb
        top 0
    .container
      margin-left 0!important
    #left_chrome
      display none!important

.left-content.wide
  #left_container
    .threads
      .photo, .created, .username
        display inline-block
