
// RESPONSIVEness
@media screen and (min-width: 1500px)
  .main-content
    .forum, .search
      margin 0 150px 0 30px

// oneliner titles on left pane
@media screen and (max-height: 450px)
  .left-content
    .threads
      .post-count, .views, .profile, .username
        display none!important
@media screen and (max-width: 800px)
  body.collapsed
    grid(100%,475px)
    .main-content
      .forum, .search
        padding-left (grid*4)!important
  body
    grid(100%,475px)
    #left_chrome
      display none!important
    .logo
      display none
    .search
      left 15px!important
      width 300px
      #query
        width 300px
  
@media screen and (max-width: 500px)
  header
    font-size 0.8em
    display none
  body
    grid(100%,320px)
    .main-content
      margin-left 0!important
      padding 25px 15px!important
      .forum, .search
        margin-bottom grid!important
  body.scrolled
    .main-content
      #breadcrumb
        top 0
    .container
      margin-left 0!important
    #left_chrome
      display none!important

.left-content.wide
  #left_container
    .threads
      .photo, .created, .username
        display inline-block
