
// sprite cut-outs
.s-chat-bubble
  background url(cache-url + '/images/sprites.png') no-repeat -124px -11px
  height 41px
  width 34px
.s-down-arrow
  background url(cache-url + '/images/sprites.png') no-repeat -196px -35px
  height 30px
  width 35px
.s-edit
  background url(cache-url + '/images/sprites.png') no-repeat -235px 0
  height 14px
  width 14px
.s-reply
  background url(cache-url + '/images/sprites.png') no-repeat 2px 3px
  height 18px
  width 22px
.s-permalink
  background url(cache-url + '/images/sprites.png') no-repeat -24px 3px
  height 18px
  width 16px
.s-chat
  background url(cache-url + '/images/sprites.png') no-repeat -53px 3px
  height 18px
  width 16px
.s-search
  background url(cache-url + '/images/sprites.png') no-repeat -86px 0
  height 18px
  width 16px
.s-big-search
  background url(cache-url + '/images/sprites.png') no-repeat -251px -1px
  height 54px
  width 73px
.s-dark-chat
  background url(cache-url + '/images/sprites.png') no-repeat -233px -41px
  height 18px
  width 16px
.s-dark-censor
  background url(cache-url + '/images/sprites.png') no-repeat -231px -12px
  height 18px
  width 16px
.s-dark-permalink
  background url(cache-url + '/images/sprites.png') no-repeat -217px -12px
  height 18px
  width 16px
.s-dark-reply
  background url(cache-url + '/images/sprites.png') no-repeat -197px -12px
  height 18px
  width 16px
.s-pinned
  background url(cache-url + '/images/sprites.png') no-repeat -126px -54px
  height 14px
  width 10px
.s-pinned-on
  background url(cache-url + '/images/sprites.png') no-repeat -149px -54px
  height 14px
  width 16px
.s-locked
  background url(cache-url + '/images/sprites.png') no-repeat -138px -54px
  height 14px
  width 10px
.s-locked-on
  background url(cache-url + '/images/sprites.png') no-repeat -161px -55px
  height 14px
  width 10px

.s-link-icon
  background url(cache-url + '/images/sprites.png') no-repeat -221px -137px
  height 26px
  width 27px
.s-forum-icon
  background url(cache-url + '/images/sprites.png') no-repeat -221px -115px
  height 26px
  width 27px
.s-placeholder-icon
  background url(cache-url + '/images/sprites.png') no-repeat -246px -138px
  height 26px
  width 27px
.s-page-icon
  background url(cache-url + '/images/sprites.png') no-repeat -246px -114px
  height 26px
  width 27px
.s-product-icon
  background url(cache-url + '/images/sprites.png') no-repeat -246px -114px
  height 26px
  width 27px

.s-forum
  background url(cache-url + '/images/sprites.png') no-repeat -4px -67px
  height 113px
  width 102px
.s-placeholder
  background url(cache-url + '/images/sprites.png') no-repeat -114px -182px
  height 115px
  width 102px
.s-link
  background url(cache-url + '/images/sprites.png') no-repeat -4px -182px
  height 115px
  width 102px
.s-page
  background url(cache-url + '/images/sprites.png') no-repeat -113px -69px
  height 113px
  width 102px
.s-product
  background url(cache-url + '/images/sprites.png') no-repeat -113px -69px
  height 113px
  width 102px

.s-help
  background url(cache-url + '/images/sprites.png') no-repeat -229px -58px
  height 35px
  width 34px

// tint sprites to light color
.s-help, .s-forum, .s-link, .s-placeholder, .s-product, .s-product-icon, .s-page, .s-link-icon, .s-forum-icon, .s-placeholder-icon, .s-page-icon, .s-locked, .s-locked-on, .s-pinned-on, .s-pinned, .s-dark-reply, .s-dark-permalink, .s-dark-censor, .s-dark-chat, .s-big-search, .s-search, .s-chat, .s-permalink, .s-edit, .s-reply, .s-down-arrow
  filter hue-rotate(sprite_hue)
