
// sprite cut-outs

.s-reply
  background url(cache-url + '/images/sprites.png') no-repeat 2px 3px
  height 18px
  width 22px
.s-permalink
  background url(cache-url + '/images/sprites.png') no-repeat -24px 3px
  height 18px
  width 16px
.s-censor
  background url(cache-url + '/images/sprites.png') no-repeat -53px 3px
  height 18px
  width 16px
.s-search
  background url(cache-url + '/images/sprites.png') no-repeat -86px 0
  height 18px
  width 16px
