
// sprite cut-outs

.s-reply
  background url(cache-url + '/images/sprites.png') 1px 0
  height 16px
  width 16px
.s-permalink
  background url(cache-url + '/images/sprites.png') 29px 0
  height 16px
  width 16px
.s-censor
  background url(cache-url + '/images/sprites.png') 50px 0
  height 16px
  width 16px
