@import 'fluidity/css3'
@import './app/stylus/animations'

// XXX default theme containing all color decoration & embellishments

highlight-color             = #ffeedd
highlight-color2            = #ff9225
highlight-color-translucent = rgba(255,100,50,.3)

footer-height = 25px

@import './app/stylus/mutants-theme'

body
  font-family 'Source Sans Pro', 'Open Sans Condensed', 'Ubuntu', 'Helvetica Neue', sans-serif

a
  color highlight-color2
  text-decoration none

.photo
  background-color #fff
  //border-top-right-radius 2px
  border-radius 3px
  box-shadow inset 0 1px 0 rgba(255,255,255,0.35),0 0 1px rgba(0,0,0,0.75)

.online
  box-shadow 0 0 3px 1px rgb(50,150,255)
  transition box-shadow .3s ease-out

.saved
  box-shadow 0 0 2px rgba(50, 150, 50, .8), 0 1px 0 rgba(40, 140, 40, .9)
  transition box-shadow .3s ease-in-out

.cancel, .onclick-close:hover
  background-color #666
  color #fff
  transition all .1s ease-out
.cancel, .onclick-close
  font-weight 600
  transform rotate(10deg)
  height 10px
  width 10px
  color #fafafa
  background-color #777

//{{{ Header
.logo
  a
    font-style italic
    color #bbb
    strong
      font-style normal
      color #ccc
header
  //background-color rgba(255,255,255,0.1)
  background-color #fff
  border-top 1px solid #aaa
  border-bottom 1px solid rgba(180,180,180,0.4)
  color #555
  .container
    .menu
      > .row
        .title.active:hover
          color #000
          border-bottom 1px solid highlight-color2
        .title.active
          position relative!important
          z-index 75!important
          color #333
          background-color #fafafa
          border-bottom 1px solid highlight-color2
      > .row
        .title:hover, .title.hover
          border-bottom 1px solid #999
          //background-image linear-gradient(bottom, #fff 25px, #fed)
          color #555
          background-color #fdfdfd
          animation-name tiny-grow!important
          animation-duration .1s
          transition border-bottom .4s, background-color .3s, color .4s
      > .row
        .title
          text-decoration none
          border-bottom 1px solid #ccc
          color #999
          text-transform uppercase
          font-weight bold
          letter-spacing -1px
          font-size .85em
          text-shadow 0 0 1px #fff
          background-color #fff
        .submenu
          box-shadow 0 2px 4px 0px #ccc
          border-right 1px solid #aaa
          border-bottom 1px solid #aaa
          border-bottom 1px solid #bbb
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px
          background-color #fff
          background radial-gradient(circle closest-corner at 50% 30%, #fff 20%, #f6f6f6 100%)
          color #333
          .row:hover
            font-size 15px
            transform scale(1.05)
            a
              color #000
              //animation-name none
          .row.active
            font-weight bold
            border-bottom 1px solid #eee
            border-radius 5px
            font-size 15px
            text-shadow 0 1px 0 #fff
            a
              color #000
              animation-name none
          .row
            line-height (grid*4)
            border-right 1px solid transparent
            border-left 1px solid transparent
            border-bottom 1px solid #fafafa
            a
              color #444
              text-decoration none
              white-space nowrap
              text-overflow ellipsis
    .search
      .query::-webkit-input-placeholder
          color #ccc
      .query:-moz-placeholder
          color #ccc
      .query::-moz-placeholder
          color #ccc
      .query:-ms-input-placeholder
          color #ccc
      .query:focus
        margin-top -1px
        height 21px
      .query:hover, .query:focus
        //border none!important
        //box-shadow none!important
        color #444
      #query.query
        font-style italic
        letter-spacing 1px
        font-weight 400
      .query
        font-size 1.15em
        height 20px
//}}}
//{{{ Left side
#left_content:hover::after
  width 1px
  background-color #fafafa
#left_content::after
  position absolute
  right 0
  top 1px
  content ''
  bottom 0
  background-color #f7f7f7
  width 1px
#left_content
  background-color rgba(200,200,200,0.12)
  .handle:hover::before
    border-right 14px solid #777
    left -6px
  .handle::before
    border-right 12px solid #999
    transition all .1s ease-out
  .handle:hover
    background-color #eee
    color #444
    border-color #eee
    box-shadow 0 0 3px 1px #fff
  .handle
    //box-shadow 0 0 1px 1px #999
    transition all .2s ease-out
    background-color #f0f0f0
    border 3px solid #fff
    color #888
  .title
    letter-spacing -1px
    font-size 1.1em
    margin (grid / 2) 0
  #paginator:hover
    border-right 1px solid #bbb
  #paginator
    border-right 1px solid #ddd
    background-color rgba(200,200,200,0.1)
    border-top 2px solid #ccc
    border-bottom 1px solid #ccc
    .current:hover
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #888
      border-bottom 2px solid #aaa
      transition all .2s ease-out
    .current
      background-color #eee
      background-image linear-gradient(top, #eee 5%, #fefefe)
      border-top 1px solid #ddd
      border-left 1px solid #ddd
      border-bottom 2px solid #bbb
      border-right 1px solid #999
    a.page.next:hover::before
      border-top 9px solid #aaa
    a.page.previous:hover::before
      border-bottom 9px solid #aaa
    a.page.next::before
      border-top 9px solid #bbb
    a.page.previous::before
      border-bottom 9px solid #bbb

//}}}
//{{{ Main Content
.main-content
  a:hover
    color #000
    text-decoration underline
  a
    color #333
    text-decoration none

  #breadcrumb
    background-color #f5f5f5
    background-image linear-gradient(to top, #eee, #f8f8f8 10%)
    border-bottom 1px solid #ddd
    border-right 1px solid #ddd
    border-left 1px solid #ddd
    box-shadow 0 1px 0px 0px #aaa
    font-style italic
    color #ddd
    a, em
      color #666

  a.page
    color #eee

  a.page:hover, a.active
    background-color highlight-color2
    color #eee

  blockquote
    text-align left
    background #fafafa
    border-left 5px solid #f3f3f3
    margin 1.5em 10px
    padding .5em 10px
    font-size 1em
    font-style italic
    font-weight 100
    color #666
  
  blockquote::before
    color #ccc
    line-height .1em
    margin-right .25em
    vertical-align -.4em

///}}}
//{{{ Footer
footer::before
  border-top 1px solid #eee
  top 0
  left 0
  right 0
  content ''
  position absolute
footer:hover::before
  border-top 1px solid #ddd
  transition border-top .2s ease-out
footer:hover
  color #666
footer
  opacity 0
  background-color #f7f7f7
  background-image linear-gradient(bottom, #fff 13px, #ccc)
  text-align center
  color #777
  h6
    font-size .9em
    letter-spacing 3px
    margin 0
    font-weight 100
//}}}

//{{{ Scrolled <body>
body.scrolled
  footer::before
    border-top 1px solid #ddd
  footer:hover::before
    border-top 1px solid #ccc
    transition border-top .2s ease-out
  header::after
    border-bottom 1px solid #ccc
    box-shadow 0 2px 6px 0px #ddd
    bottom -3px
    left 0
    right 0
    height 1px
    content ''
    position absolute
  header
    background-color rgba(255,255,255,0.95)
    box-shadow 0 -1px 12px 2px #eee
    border-bottom 1px solid #fff
    transition height .2s ease-out, background-color .5s ease-out
    .container
      menu.menu
        > .row
          a.title.active:hover
            background-image linear-gradient(bottom, #fff 22px, #eaeaea)
          a.title.active
            background-image linear-gradient(bottom, #fff 22px, #eaeaea)
          a.title:hover, a.title.hover
            background-image linear-gradient(bottom, #fff 22px, #fafafa)
          a.title
            background-image linear-gradient(bottom, #fff 25px, #fafafa)
        .row
          transition line-height .2s ease-out
          .submenu
            .row
              line-height (grid*3)
      .search
        .query
          border-bottom-width 1px
        .query::-webkit-input-placeholder
            color #bbb
        .query:-moz-placeholder
            color #bbb
        .query::-moz-placeholder
            color #bbb
        .query:-ms-input-placeholder
            color #bbb
  #left_content::after
    bottom (footer-height - 4)
  footer
    opacity 1
    transition bottom .4s ease-out
//}}}

//{{{ Fancybox
.fadein
  animation-name fadein
  animation-duration .4s
.slide
  animation-name slide
  animation-duration .06s
.post-animate-in
  animation-name post-animate-in
  animation-duration .9s
.shake
  animation-name shake
  animation-duration .8s
.fancybox-overlay::after
  position absolute
  bottom (grid*2)
  right (grid*2)
  height 24px
  width 228px
  content ''
  background-image url(cache-url + '/images/secure.png')
.fancybox-overlay
  background radial-gradient(circle closest-corner at 50% 30%, rgba(0,0,0,0.35) 20%, rgba(0,0,0,0.8) 100%)!important
  overflow none
  .fancybox-wrap
    .fancybox-skin
      //box-shadow 0px 1px 12px 2px rgba(0, 0, 0, 0.3)!important
      box-shadow 0 1px 8px 3px rgba(0,0,0,0.3) !important
    .fancybox-skin, .fancybox-inner
      background-color #f9f9f9
      background-image linear-gradient(to top, #fff 10px, #f2f2f2)
//}}}
//{{{ Tooltip
tooltip-border-color = rgb(100, 100, 100)
.tooltip
  color #fff
  background-color rgb(110, 110, 110)
  border 2px solid tooltip-border-color
  border-radius 6px / 2px
  opacity 0
  box-shadow 0 1px 0px 1px #333,0 3px 5px 1px tooltip-border-color
  text-shadow 0 -1px 0 #000
.tooltip::after
  border-top 9px solid #444
.tooltip.right::after
  border-right 10px solid tooltip-border-color
//}}}
//{{{ jQuery UI
.ui-widget-overlay
  opacity .9!important
  background-color #fff!important
//}}}
// vim:fdm=marker
