@import 'fluidity/css3'
@import './app/stylus/animations'

// XXX default theme containing all color decoration & embellishments

footer-height = 25px

body
  font-family 'Source Sans Pro', 'Open Sans Condensed', 'Ubuntu', 'Helvetica Neue', sans-serif

a
  color dark
  text-decoration none

.photo
  background-color #fff
  //border-top-right-radius 2px
  border-radius 3px
  box-shadow inset 0 1px 0 rgba(255,255,255,0.35),1px 1px 8px -2px light
  //border 1px solid #aaa
  opacity .85

.online
  box-shadow 0 0 2px 0 dark, 1px 1px 10px -1px light
  border 1px solid #eee
  opacity 1
  transition box-shadow .3s ease-out, opacity .3s ease-out

.saved
  box-shadow 0 0 2px rgba(50,150,50,.8), 1px 1px 1px rgba(50,150,50,.8),0 1px 0 rgba(40,140,40, .9)
  transition box-shadow .3s ease-in-out

.cancel, .onclick-close:hover
  background-color #666
  color #fff
  transition all .1s ease-out
.cancel, .onclick-close
  font-weight 600
  transform rotate(10deg)
  height 10px
  width 10px
  color #fafafa
  background-color #777

//{{{ Header
.logo
  a
    text-shadow 0 0 1px #ccc
    font-style italic
    color #888
    strong
      margin-left 1px
      font-style normal
      color #555
header
  background-color #fefefe
  border-top 1px solid #aaa
  border-bottom 1px solid rgba(180,180,180,0.15)
  color #555
  .container
    .menu
      > .row
        .title.active:hover
          color #000
          border-bottom 1px solid dark
        .title.active
          position relative!important
          z-index 75!important
          color #333
          //border-bottom 1px solid dark
        .title.active::after
          //box-shadow 0 -1px 6px 1px light
          background radial-gradient(ellipse farthest-corner at 50% 300%, light 50%, rgba(255,255,255,0) 90%)
          height 8px
          opacity 1
          transition opacity .3s ease-out
      > .row
        .title:hover, .title.hover
          border-bottom 1px solid dark
          color #555
          animation-name tiny-grow!important
          animation-duration .1s
          transition border-bottom .4s, color .3s, color .4s
      > .row
        .title
          text-decoration none
          border-bottom 1px solid transparent
          color #777
          text-transform uppercase
          font-weight bold
          letter-spacing -1px
          font-size .85em
          text-shadow 0 0 1px #fff
        .title::after
          position absolute
          content ''
          left 20%
          width 60%
          bottom 0
          height 0
          opacity 0
        .submenu
          box-shadow 0 2px 4px 0px #ccc
          border-right 1px solid #aaa
          border-bottom 1px solid #bbb
          border-top 1px solid #cfcfcf
          border-bottom-right-radius 5px
          border-bottom-left-radius 5px
          background-color #fff
          background radial-gradient(circle closest-corner at 50% 30%, #fff 60%, #f0f0f0 100%)
          color #333
          .row:hover
            font-size 15px
            transform scale(1.05)
            a
              color #000
              //animation-name none
          .row.active
            font-weight bold
            border-bottom 1px solid #eee
            border-radius 5px
            font-size 15px
            text-shadow 0 1px 0 #fff
            a
              color #000
              animation-name none
          .row
            line-height (grid*4)
            border-right 1px solid transparent
            border-left 1px solid transparent
            border-bottom 1px solid #fafafa
            a
              color #444
              text-decoration none
              white-space nowrap
              text-overflow ellipsis
    .search
      .query:focus
        text-indent 3px
        border-radius 5px
        box-shadow 1px 1px -3px 10px light inset
        border 1px solid dark
        color #000
      .query
        box-shadow 1px 1px 3px light inset
        border 0
        background none
        border-radius 6px
      .query::-webkit-input-placeholder
          color #ccc
      .query:-moz-placeholder
          color #ccc
      .query::-moz-placeholder
          color #ccc
      .query:-ms-input-placeholder
          color #ccc
      .query:focus
        margin-top -1px
        height 21px
      .query:hover, .query:focus
        //border none!important
        //box-shadow none!important
        color #444
      #query.query
        font-style italic
        letter-spacing 1px
        font-weight 400
      .query
        font-size 1.15em
        height 20px
//}}}
//{{{ Left side
#left_content:hover::after
  width 1px
  background-color #fafafa
#left_content::after
  position absolute
  right 0
  top 1px
  content ''
  bottom 0
  background-color #f7f7f7
  width 1px
#left_content
  background-color rgba(200,200,200,0.02)
  .handle:hover::before
    border-right 14px solid dark
    left -5px
  .handle::before
    border-right 10px solid #fff
    transition all .1s ease-out
  .handle:hover
    background-color #ddd
    background radial-gradient(circle closest-corner at 50% 45%, #e9e9e9 66%, #999 100%)
    color #444
    border-color #eee
    box-shadow 0 0 3px 1px #fff
  .handle
    //box-shadow 0 0 1px 1px #999
    transition all .2s ease-out
    background-color #ddd
    background radial-gradient(circle closest-corner at 50% 45%, #e9e9e9 66%, #bbb 100%)
    border 1px solid #ddd
    color #888
  .title
    letter-spacing -1px
    font-size 1.1em
    margin (grid / 2) 0
  #paginator:hover
    border-right 1px solid #bbb
  #paginator
    border-right 1px solid #ddd
    background-color rgba(200,200,200,0.1)
    border-top 2px solid #ccc
    border-bottom 1px solid #ccc
    .current:hover
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #888
      border-bottom 2px solid #aaa
      transition all .2s ease-out
    .current
      background-color #eee
      background-image linear-gradient(top, #eee 5%, #fefefe)
      border-top 1px solid #ddd
      border-left 1px solid #ddd
      border-bottom 2px solid #bbb
      border-right 1px solid #999
    a.page.next:hover::before
      border-top 9px solid #aaa
    a.page.previous:hover::before
      border-bottom 9px solid #aaa
    a.page.next::before
      border-top 9px solid #bbb
    a.page.previous::before
      border-bottom 9px solid #bbb

//}}}
//{{{ Main Content
.main-content
  background-color #fcfcfc
  a:hover
    color #000
    text-decoration underline
  a
    color #333
    text-decoration none

  #breadcrumb
    background-color #f5f5f5
    background-image linear-gradient(to top, #eee, #f8f8f8 10%)
    border-bottom 1px solid #ddd
    border-right 1px solid #ddd
    border-left 1px solid #ddd
    box-shadow 0 1px 0px 0px #aaa
    font-style italic
    color #ddd
    a, em
      color #666

  a.page
    color #eee

  a.page:hover, a.active
    background-color dark
    color #eee

  blockquote
    text-align left
    background #fafafa
    border-left 5px solid #f3f3f3
    margin 1.5em 10px
    padding .5em 10px
    font-size 1em
    font-style italic
    font-weight 100
    color #666
  
  blockquote::before
    color #ccc
    line-height .1em
    margin-right .25em
    vertical-align -.4em

///}}}
//{{{ Footer
footer::before
  border-top 1px solid #eee
  top 0
  left 0
  right 0
  content ''
  position absolute
footer:hover::before
  border-top 1px solid #ddd
  transition border-top .2s ease-out
footer:hover
  color #666
footer.expanded::before
  position fixed
  left 0
  right 0
  bottom 0
  top 0
footer.expanded
  //background-image linear-gradient(bottom, #fff 125px, #eee)
  background-color #fafafa
footer
  opacity 0
  background-color #f7f7f7
  //background-image linear-gradient(bottom, #fff 13px, #ccc)
  box-shadow 1px 0px 2px 0 dark
  text-align center
  color #777
  h6
    cursor default
    font-size .9em
    letter-spacing 3px
    margin 0
    font-weight 100
//}}}

//{{{ Scrolled <body>
body.scrolled
  footer::before
    border-top 1px solid #ddd
  footer:hover::before
    border-top 1px solid #ccc
    transition border-top .2s ease-out
  header::after
    border-bottom 1px solid #ddd
    box-shadow 0 2px 6px 0px #ddd
    bottom -3px
    left 0
    right 0
    height 1px
    content ''
    position absolute
  header
    background-color rgba(255,255,255,0.95)
    box-shadow 0 -1px 12px 2px #eee
    border-bottom 1px solid #fff
    height -2px
    transition height .2s ease-out, background-color .5s ease-out
    .container
      menu.menu
        > .row
        .row
          transition line-height .2s ease-out
          .submenu
            .row
              line-height (grid*3)
      .search
        .query
          border-bottom-width 1px
        .query::-webkit-input-placeholder
            color #bbb
        .query:-moz-placeholder
            color #bbb
        .query::-moz-placeholder
            color #bbb
        .query:-ms-input-placeholder
            color #bbb
  #left_content::after
    bottom (footer-height - 4)
  footer
    opacity 1
    transition bottom .4s ease-out
//}}}

//{{{ Fancybox
.fadein
  animation-name fadein
  animation-duration .4s
.hover-around
  animation-name hover-around
  animation-duration 6s
  animation-iteration-count infinite
  animation-direction alternate
.slide
  animation-name slide
  animation-duration .06s
.post-animate-in
  animation-name post-animate-in
  animation-duration .3s
.shake
  animation-name shake
  animation-duration .8s
.fancybox-overlay::after
  position absolute
  bottom (grid*2)
  right (grid*2)
  height 24px
  width 228px
  content ''
  background-image url(cache-url + '/images/secure.png')
.fancybox-overlay
  background radial-gradient(circle closest-corner at 50% 30%, rgba(0,0,0,0.35) 20%, rgba(0,0,0,0.8) 100%)!important
  overflow none
  .fancybox-wrap
    .fancybox-skin
      //box-shadow 0px 1px 12px 2px rgba(0, 0, 0, 0.3)!important
      box-shadow 0 1px 8px 3px rgba(0,0,0,0.3) !important
    .fancybox-skin, .fancybox-inner
      background-color #f9f9f9
      background-image linear-gradient(to top, #fff 10px, #f2f2f2)
//}}}
//{{{ jQuery UI
.ui-widget-overlay
  opacity .9!important
  background-color #fff!important
//}}}
// vim:fdm=marker
