@import 'fluidity/css3'

::selection
  background-color rgba(theme_color, .12)
  color #000

// XXX default theme containing all color decoration & embellishments

// overlay is tint applied to the header & footer while scrolled
overlay_tint_color = rgba(255,255,255,0.9)
// these are the overlay colors for the most important - least important blocks of elements (opaque)
overlay_color_primary   = #fff
overlay_color_secondary = #f9f9f9

footer_height = 25px

body
  font-family 'Helvetica Neue', 'Helvetica', sans-serif

body.disabled::after
  content ''
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 200
  background radial-gradient(circle closest-corner at 50% 30%, rgba(255,255,255,0.6) 25%, rgba(255,255,255,.85) 100%)!important

.raised
  position relative
  z-index 201!important

a
  color dark_theme_color
  text-decoration none

.photo
  background-color #fff
  box-shadow inset 0 1px 0 rgba(255,255,255,0.35),1px 1px 8px -2px theme_color
  opacity .9

.profile.photo.online
  box-shadow 0 0 2px 1px dark_theme_color, 1px 1px 3px 2px theme_color

.online
  box-shadow 0 0 2px 0 dark_theme_color, 1px 1px 10px -1px theme_color
  border 1px solid theme_color
  opacity 1!important
  display block
  transition opacity .3s ease-out

.saved
  box-shadow 0 0 3px 0 theme_color
  transition box-shadow .3s ease-in-out

.cancel, .onclick-close
  font-weight 600
  transform rotate(10deg)
  height 9px
  width 8px
  color #333
  background-color #aaa
  background radial-gradient(circle closest-corner at 45% 35%, #eee 40%, #bbb 100%)
  transition all .3s ease-out .1s
  &:hover
    background-color #999
    opacity 1
    background radial-gradient(circle closest-corner at 45% 35%, #eee 45%, #aaa 100%)
    color red
    transform scale(1.13) rotate(8deg)
    transition none

//{{{ Header
header
  border-top 1px solid #aaa
  color #555
  background overlay_color_secondary
  background-image linear-gradient(bottom, #fff 55%, overlay_color_secondary)
  &.expanded
    background-color overlay_tint_color
  .container
    .search
      .icon
        cursor text
        position absolute
        overflow hidden
        z-index 20
        top 0
        right -1px
        height 38px
        width 97px
        .s-big-search
          background-position -251px -9px
      .query:focus + .icon
        top -2px
        height 40px
        opacity .8
      .query
        box-shadow 0 1px 1px -1px theme_color inset,0 1px 3px 0 theme_color inset
        border none
        background none
        border-radius 8px
        font-size 1.15em
        height 20px
        opacity 1
        transition none
        background-color rgba(overlay_color_primary, .95)
        &:hover
          color #222
          background-color overlay_color_primary
          box-shadow 0 1px 1px 0 theme_color inset,0 1px 2px 0 theme_color inset, 0 1px 0 0 theme_color
          transition none
        &:focus
          transition none
          background-color overlay_color_primary
          //margin-top -1px
          //height 21px
          //text-indent 8px
          border-radius 6px
          box-shadow 0 1px 1px 1px theme_color, 0 1px 5px -3px theme_color, 0 1px 0 1px theme_color inset
          color #111
          transform scale(1.01)
      .query::-webkit-input-placeholder
          color #ccc
      .query:-moz-placeholder
          color #ccc
      .query::-moz-placeholder
          color #ccc
      .query:-ms-input-placeholder
          color #ccc
      .query:hover
        color #444
      #query.query
        font-style italic
        letter-spacing 1px
        font-weight 400
    .tools
      .bubble, .bubble2
        box-shadow 0 0 1px #999, 1px 1px 3px theme_color
        background-color overlay_color_primary
      .bubble
        box-shadow 0 0 1px #777, 1px 1px 2px theme_color
      &::before
        background-color theme_color
      .container
        menu
          background-color overlay_color_primary
          box-shadow 0 -1px 3px -1px theme_color, 0 1px 0 0 theme_color, 0 1px 1px 0 #333
//}}}
//{{{ Left side
#left_content
  background-color overlay_color_primary
  &:hover::after
    width 1px
    background-color #fafafa
  &::after
    position absolute
    right 0
    top 1px
    content ''
    bottom 0
    background-color #f7f7f7
    width 1px
  .handle
    background-color #ddd
    background radial-gradient(circle closest-corner at 45% 38%, #fff 85%, #aaa 100%)
    border 1px solid #ddd
    color #888
    &::after
      border-right 10px solid theme_color
    &::before
      border-right 12px solid #aaa
    &:hover
      background-color #ddd
      background radial-gradient(circle closest-corner at 45% 38%, #fff 80%, #999 100%)
      color #444
      &::before
        border-right 14px solid #999
        left -4px
      &::after
        border-right 12px solid darken(theme_color, 5%)
        left -3px
  .title
    letter-spacing -1px
    font-size 1.1em
    margin (grid / 2) 0
  #paginator
    border-right 1px solid #ddd
    background-color rgba(200,200,200,0.1)
    border-top 2px solid #ccc
    border-bottom 1px solid #ccc
    &:hover
      border-right 1px solid #bbb
    .current:hover
      border-left 1px solid #ccc
      border-top 1px solid #ccc
      border-right 1px solid #888
      border-bottom 2px solid #aaa
      transition all .2s ease-out
    .current
      background-color #eee
      background-image linear-gradient(top, #eee 5%, #fefefe)
      border-top 1px solid #ddd
      border-left 1px solid #ddd
      border-bottom 2px solid #bbb
      border-right 1px solid #999
    a.page.next:hover::before
      border-top 9px solid #aaa
    a.page.previous:hover::before
      border-bottom 9px solid #aaa
    a.page.next::before
      border-top 9px solid #bbb
    a.page.previous::before
      border-bottom 9px solid #bbb

//}}}
//{{{ Main Content
.main-content
  a:hover
    color #000
    text-decoration underline
  a
    color #333
    text-decoration none

  #breadcrumb
    background-color overlay_color_secondary
    border-bottom 1px solid #eee
    border-right 1px solid #eee
    border-left 1px solid #eee
    box-shadow 0 1px 0 0 #eee
    font-style italic
    color #e9e9e9
    a, em
      color #888

  a.page
    color #eee

  a.page:hover, a.active
    background-color dark_theme_color
    color #eee

  blockquote
    text-align left
    background #fafafa
    border-left 5px solid #f3f3f3
    margin 1.5em 10px
    padding .5em 10px
    font-size 1em
    font-style italic
    font-weight 100
    color #666
  
  blockquote::before
    color #ccc
    line-height .1em
    margin-right .25em
    vertical-align -.4em

///}}}
//{{{ Footer
footer
  &.expanded
    background-color #fafafa
    box-shadow 4px 4px 20px 0 theme_color!important
  opacity 0
  box-shadow 0 0 4px -1px theme_color
  text-align center
  color #777
  background-image linear-gradient(to top, overlay_tint_color 96%, rgba(255,255,255,.35))
  &::before
    //border-top 1px solid #eee
    top 0
    left 0
    right 0
    content ''
    position absolute
  &:hover
    color #666
    box-shadow 0 0 3px 0 theme_color
    transition all .3s ease-out
  h6
    margin 0
    a
      color #777
      font-size .9em
      letter-spacing 3px
      font-weight 100
      b
        color #999
//}}}

//{{{ Scrolled <body>
body.scrolled
  header
    transition none
    background-color overlay_tint_color
    height -2px
    box-shadow 0 1px 3px 0px rgba(0,0,0,.1)
    //transition height .1s ease-out
    //&::after
    //  box-shadow 0 2px 6px 0px #ddd
    //  background-color darken(overlay_color_secondary, 5%)
    //  bottom -1px
    //  left 0
    //  right 0
    //  height 1px
    //  content ''
    //  position absolute
    .online
      box-shadow 0 0 2px 0 dark_theme_color, 1px 1px 10px -1px theme_color
    .container
      .search
        top -500px
        .query
          opacity 0!important
          border-bottom-width 1px
        .query::-webkit-input-placeholder
            color #bbb
        .query:-moz-placeholder
            color #bbb
        .query::-moz-placeholder
            color #bbb
        .query:-ms-input-placeholder
            color #bbb

    &.image
      .tools
        .profile.photo
          box-shadow 0 0 2px 1px #333
          &.online
            box-shadow 0 0 2px 1px dark_theme_color, 1px 1px 2px 1px theme_color!important
    .tools
      .profile.photo
        box-shadow 0 0 2px 1px #333
        &.online
          box-shadow 0 0 2px 1px dark_theme_color, 1px 1px 2px 1px theme_color!important

  #left_content::after
    bottom (footer_height - 4)
  .question
    right 70px
    top 65px
    transition all .05s ease-in
  footer
    &:hover
      box-shadow 0 0 4px 0 theme_color
//}}}

//{{{ Fancybox
.fadein
  animation-name fadein
  animation-duration .4s
.popin
  animation-name popin
  animation-duration .5s
.post-animate-in
  animation-name post-animate-in
  animation-duration .3s
.shake
  animation-name shake
  animation-duration .8s
.fancybox-overlay, .wmd-prompt-background
  background radial-gradient(circle closest-corner at 50% 40%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,1) 100% ) !important
  overflow none
  &::after
    position absolute
    bottom (grid*2)
    right (grid*2)
    height 24px
    width 228px
    content ''
    background-image url(cache-url + '/images/secure.png')
  // part of black theme
  // TODO move this and the rest into black.styl
  .fancybox-wrap
    .fancybox-skin
      h1, h2, h3
        color #eee
.fancybox-overlay .fancybox-wrap .fancybox-skin
  border-radius 5px
  background-color transparent
  background-image linear-gradient(to top, rgba(0,0,0,.93) 10px, #222 100%)
  border 1px solid #111
  transition opacity .3s ease-out 3s
//}}}
//{{{ jQuery UI
.ui-widget-overlay
  opacity .9!important
  background-color #fff!important
//}}}
// vim:fdm=marker
