.reset(style="display:none;")
  form(method="post", action="/auth/reset-password")
    label(for="password")
      h2 Choose a new Password
        i !
    fieldset
      input(id="password", name="password", type="text", placeholder="Password")
      input(type="submit", value="Save")
      a.msg.onclick-show-login
        h3 &lt; Back
.choose(style="display:none;")
  form(method="post", action="/auth/choose-username")
    label(for="username")
      h2 Choose a User Name
        i !
    fieldset
      input(id="username", name="username", type="text", placeholder="Username")
      input(type="submit", value="Save")
      a.msg.onclick-show-login
        h3 &lt; Back
.forgot(style="display:none;")
  form(method="post", action="/auth/forgot")
    label(for="email")
      h2 Tell Us Your Email Address
        i !
    fieldset
      input(id="email", name="email", type="text", placeholder="Email")
      input(type="submit", value="Send Reset")
      a.msg.onclick-show-login
        h3 &lt; Back
.validate(style="display:none;")
  h2 Check your inbox for activation
    i !
    a.msg.onclick-close
      h3 &lt; Close
.register(style="display:none;")
  form(method="post", action="/auth/register")
    label(for="username")
      h2 Welcome
        i !
    fieldset
      input(id="username", name="username", type="text", placeholder="Username")
      input(name="password", type="password", placeholder="Password")
      input(name="email", class="register-email", type="text", placeholder="Email")
      input(type="submit", value="Sign In")
      a.msg.onclick-show-login
        h3 &lt; Back
.login
  form(method="post", action="/auth/login")
    label(for="username")
      h2= siteName
    fieldset
      a.msg.onclick-show-forgot
        h3 Forgot?  
      input(id="username", name="username", type="text", placeholder="Username")
      input(name="password", type="password", placeholder="Password")
      input(type="submit", value="Login")
      a.msg.onclick-show-register
        h3 Register
          i !
  .social
    h3 Or Log In With
    a(href="/auth/facebook", title="Facebook!") 
      img(src="#{cache2Url}/images/facebook_32.png")
    a(href="/auth/google", title="Google+") 
      img(src="#{cache3Url}/images/google_32.png")
    a(href="/auth/twitter", title="Twitter!") 
      img(src="#{cache4Url}/images/twitter_32.png")
