mixin _post_actions(p)
  .actions
    a.stylish.onclick-append-reply-ui Reply
    a.stylish.edit.mutant.no-surf(href="#{p.uri.replace(/\/\d+$/, '')}/edit/#{p.id}") Edit
    a.stylish.mutant(href=p.uri) Permalink
    a.stylish.censor.onclick-censor-post Censor
