mixin _post_actions(p)
  .actions
    a.onclick-append-reply-ui(title='Comment')
      .s-reply
    a.edit.mutant.no-surf(data-edit=p.id, href="#{p.uri.replace(/\/\d+$/, '')}/edit/#{p.id}") Edit
    a.permalink.mutant(href=p.uri, title='Permalink')
      .s-permalink
    a.censor.onclick-censor-post(title='Censor')
      .s-censor
