mixin _post_actions(p, moderatorMode)
  stripped = p.uri ? p.uri.replace(/\/\d+$/, '') : ''
  .actions
    if moderatorMode
      a.censor.onclick-censor-post(title='Move to Moderation Log') Censor
        .s-dark-censor
      a.uncensor.onclick-uncensor-post(title='Remove from Moderation Log') Uncensor
        .s-dark-censor
    else
      a.onclick-append-reply-ui(title='Comment') Comment
        .s-dark-chat
      a.edit.mutant.no-surf(data-edit=p.id, href="#{stripped}/edit/#{p.id}") Edit
      a.permalink.mutant(href=p.uri, title='Permalink') Permalink
        .s-dark-permalink
      a.censor.onclick-censor-post(title='Move to Moderation Log') Censor
        .s-dark-censor
      a.uncensor.onclick-uncensor-post(title='Remove from Moderation Log') Uncensor
        .s-dark-censor
