mixin _post_actions(p)
  .actions
    a.s-reply.onclick-append-reply-ui(title='Comment')
    a.edit.mutant.no-surf(data-edit=p.id, href="#{p.uri.replace(/\/\d+$/, '')}/edit/#{p.id}") Edit
    a.s-permalink.permalink.mutant(href=p.uri, title='Permalink')
    a.s-censor.censor.onclick-censor-post(title='Censor')
