div(title='Add Post')
  form#add-post-form(action='/resources/posts', method='post')
    label
      strong Title
      input(type='text', name='title')
    label
      strong Body
      textarea(name='body')
    input(type='hidden', name='forum_id', value=fid)
    input(type='hidden', name='parent_id', value=pid)
    input#add-post-submit(type='submit', value='Post')
