div(title='Add Post')
  form#add_post_form(action='/resources/posts', method='post')
    label
      strong Title
      input(type='text', name='title')
    label
      strong Body
      textarea(name='body')
    input(type='hidden', name='forum_id', value=fid)
    //-input(type='hidden', name='csrf', value=csrf)
    input#add_post_submit(type='submit', value='Post')
