
.container
  menu
    li.feature.upgrade
      a.mutant(href="/admin/upgrade") Upgrades
        span Pro
    li.general
      a.mutant(href="/admin") General
    li.menu
      a.mutant(href="/admin/menu") Menu
    li.invites
      a.mutant(href="/admin/invites") Invites
    li.domains
      a.mutant(href="/admin/domains") Domains
