
.container
  if sites && sites.length
    h2.sites Go Admin &rarr;
      .dialog
        each s,i in sites
          a(href="//#{s.domains[0]}/auth/once-admin")!= s.name
  menu
    li.general
      a.mutant(href="/admin") General
    li.menu
      a.mutant(href="/admin/menu") Menu
    li.users.feature
      a.mutant(href="/admin/users") Users
    li.invites
      a.mutant(href="/admin/invites") Invites
    li.feature.upgrade
      a.mutant(href="/admin/upgrade") PRO
