
.container
  menu
    li.general
      a.mutant(href="/admin") General
    li.menu
      a.mutant(href="/admin/menu") Menu
    li.users
      a.mutant(href="/admin/users") Users
    li.invites.small
      a.mutant(href="/admin/invites") Invites
    li.domains
      a.mutant(href="/admin/domains") Domains
    li.feature.upgrade
      a.mutant(href="/admin/upgrade") PRO
