
.container
  menu
    li
      a.stylish.mutant(href="/admin") General
    li
      a.stylish.mutant(href="/admin/menu") Menu
    li
      a.stylish.mutant(href="/admin/invites") Invites
    li
      a.stylish.mutant(href="/admin/domains") Domains
