mixin forumOptions(forums, prefix)
  each f in forums
    option(value=f.id)= prefix + f.title
    mixin forumOptions(f.forums, '-')

.hits
  h3 Filter your Search
  #query_filters
    label
      select(name='forum_id')
        option(value='') All Forums
        mixin forumOptions(menu, '')
      strong Forum

    label
      select(name='within')
        option(value='') Any Time
        option(value='day') Within Last Day
        option(value='week') Within Last Week
        option(value='month') Within Last Month
      strong Time Period
