.hits
  #query_filters
    label
      select(name='forum_id')
        option(value='') All Forums
        option(value=1) Forum 1
        option(value=2) Forum 2
        option(value=3) Forum 3
      strong
        Forum
