
mixin forum(f, i)
  a.mutant(href=f.slug)= f.title
  if f.subforums
    each sf,ii in f.subforums
      mixin subforum(sf, f, ii)

mixin subforum(sf, i)
  .subforum(id="subforum_#{sf.id}", class=(i % 2) ? 'odd' : 'even')
    span.title= sf.title

//- main
//- ---------
if forums
  each f,i in forums
    mixin forum(f, i)

//- vim:fdm=marker
