include _post

.resizable.forum
  if postsByUser.length
    h3 Posts By #{postsByUser[0].user_name}
    each p, i in postsByUser
      // XXX might use a different template
      mixin _post(p, i)
  else
    h3 Check back soon for my first post
      i !
