include _post

.resizable.forum
  if postsByUser.length
    //-h3 Posts By #{postsByUser[0].user_name}
    //-last_thread_id = -1
    each p, i in postsByUser
      //-if last_thread_id != p.thread_id
      h3.heading
        a(href=p.thread_uri) Reply to #{p.thread_title}
      mixin _post(p, i)
      //-last_thread_id = p.thread_id
  else
    h3 Check back for my first post
      i !
