include _post

.search.resizable
  #new_hits

  div
    strong#hit_count #{elres.total} Hits!

  if elres.hits.length
    each hit in elres.hits
      - hit._source.title = hit._source.thread_title
      if hit._source.id == hit._source.thread_id
        .thread-hit
          mixin _post(hit._source, 0)
      else
        .comment-hit
          mixin _post(hit._source, 0)
  else
    div
      strong Enter some less restrictive terms you silly goose!
    //- div
    //-   if env != 'production'
    //-     strong #{hit._source.title} (score: #{hit._score})
    //-   else
    //-     strong #{hit._source.title}
    //- p= hit._source.body
    //- div= JSON.stringify(hit)
  #search_paginator
