mixin forumOptions(forums, prefix)
  each f in forums
    option(value=f.id)= prefix + f.title
    mixin forumOptions(f.forums, '-')

#search_filters
  div
    label
      h4 Filter by Forum
      select(name='forum_id')
        option(value='') - All -
        mixin forumOptions(menu, '')

  div
    label
      h4 Within a Time Period
      select(name='within')
        option(value='') - Any Time -
        option(value='day') Within Last Day
        option(value='week') Within Last Week
        option(value='month') Within Last Month
