#search_filters
  div
    label
      h4 Filter by Forum
      select(name='forum_id')
        option(value='') - All -
        each f in forumsAlphabetized
          option(value=f.id)= f.title

  div
    label
      h4 Within a Timeframe
      select(name='within')
        option(value='') - Any Time -
        option(value='day') Within Last Day
        option(value='week') Within Last Week
        option(value='month') Within Last Month
