form.menus.onclick-submit(action="/resources/sites/#{siteId}", method="put")
  .col1
    button.onclick-add Add Page
    ol.sortable
      li
        div General Forum
  .col2
    fieldset
      label(for='type') Type
      select(id='type', name='type')
        option(value=2) Forum
        option(value=1) Page
      br
      label Main menu
      .box
        input#hide_menu(type='checkbox', value='checked', name='hideMenu', checked=)
        label(for='hide_menu')
          .switch
        span.label.checked On
        .note Hides the main menu for this page
  .break    
  input.button(type='submit', value='Save')
  .tooltip
  input(type='hidden', name='action', value='menu')
