.AdminUpgrade
  h1, h2, h3, p
    margin 0
  h2
    margin 22px 0 8px 0
    letter-spacing 2px
    font-weight 200
    font-size 2em
  h2:first-child
    margin-top 12px
  .green
    color green
  .green span
    font-size 1.3em
    padding-left 5px
  p
    margin-bottom 10px
    max-width 500px
