
h2 Custom Domain
p Add your own personal flair.  Point any domain at your PowerBulletin site.
input(type='button', onclick="doBuy('custom_domain')", value='Add YOUR Domain')

h2 Go Private
p Privacy?  We got you covered.
input(type='button', onclick="doBuy('private_site')", value='Buy Private Site')
