.AdminMenu
  .default
    display none
  .onclick-add
    position fixed
    z-index 10
    left 200px
    top 130px
    margin 0!important
    width 80px!important

  //{{{ left-side (menu)
  .col1
    width 313px
    position fixed
    top 186px
    padding-left 20px
    bottom 0
    margin-top 0
    padding-bottom 50px
    overflow-y scroll
    .disclose 
      cursor move
      position absolute
      display block
      top 0
      left -28px
      width 25px
      height 35px
      &::after
        content '-'
        position absolute
        top -7px
        left 13px
        color #999
        font-weight 200
    .icon
      cursor move
      position absolute
      top 3px
      left 3px
      z-index 11
      opacity .6
    .sortable li.mjs-nestedSortable-collapsed > ol 
      display none
    .sortable li.mjs-nestedSortable-branch > div > .disclose 
      display inline-block
    .sortable li.mjs-nestedSortable-collapsed > div > .disclose::after
      content '+ '
      left 10px
      color #555
      font-weight 600
    .sortable li.mjs-nestedSortable-expanded > div > .disclose::after
      content '- '
      color #555
      font-weight 600
    .sortable
      color #aaa
      font-size .8em
      font-weight 100
      margin 20px 0
      li.active::after
        left 1px
        background theme_color
        opacity .7
        transition all .2s ease-out
      li.active::before
        width 55px
        transition width .2s ease-out .15s
      li.active > div > input
        box-shadow -1px 0 2px -1px #888 inset,0 2px 0 dark_theme_color, 1px 0 3px -1px theme_color, 0 0 3px theme_color
        font-weight bold
        color theme_color
        background-image none
        background-color tint(theme_color, 95%)
      li.active > div, li:hover > div
        .icon
          opacity 1
      li
        list-style-type none
        position relative
        &:hover
          .cancel
            opacity 1
        &::after
          content ''
          position absolute
          bottom 18px
          top 10px
          left -5px
          opacity 0
          width 1px
        &::before
          content ''
          position absolute
          width 0%
          bottom 18px
          left 1px
          height 2px
          background theme_color
        input.row
          width 200px
          background-image linear-gradient(top, tint(theme_alpha, 30%) 0, tint(tint_color, 50%) 5px)
        .cancel
          position absolute
          z-index 10
          left 208px
          top 5px
          background radial-gradient(circle closest-corner at 45% 35%, #fff 40%, #ddd 100%)
      .row
        background-image linear-gradient(top, theme_alpha 0, tint_color 3px)
        text-indent 28px
        font-size 1.1em
        padding 8px
        border-right 0
        border-top 0
        border-left 0
        border-bottom 1px solid #eee
        color #333
        border-radius 50px
        &:focus, &:active, &.active
          border-radius 50px / 200px
    .placeholder
      margin -1px
      height 1px
      background-color #333
      border-bottom 1px solid theme_color
      z-index 2
  //}}}
  //{{{ right-side (menu body/content)
  .col2
    display none
    margin-left 365px
    #forum_slug, #page_slug, #url
      font-size .8em
      padding 12px
      width 330px
    .has-dialog
      margin-top -45px
      transition margin-top .15s ease-out
      label.type, .option, .header
        display none!important
      .dialog
        visibility visible
        opacity 1
    fieldset
      padding-top 17px!important
      min-width 780px
      position relative
      .dialog
        visibility hidden
        opacity 0
        #locked:checked + label::after, #comments:checked + label::after
          content 'On'
        #locked + label::after, #comments + label::after
          content 'Off'
        #content_only:checked + label::after, #separate_tab:checked + label::after
          content 'Yes'
        #content_only + label::after, #separate_tab + label::after
          content 'No'
      .type, .dialog
        position absolute
        left 0
      .type
        font-weight bold
        letter-spacing -1px
        margin-left -50px
      .options
        list-style none
        margin 0
        padding 0
        li:first-child .header
          margin-left 105px
        input[type='radio'] + label.header
          width 290px
          height 110px
          font-size 1.1em
          background-image linear-gradient(to top, #eee, #fcfcfc 60%)
          padding 8px
          margin 5px
          padding 15px 10px 25px 35px
          margin 20px
          box-shadow 1px 1px 2px 1px #ddd
          border-radius 10px
          font-weight 500
          transition all .1s ease-in .05s
          color #222
          &:hover
            color #000
            border-radius 12px
            box-shadow 1px 1px 2px 1px #ddd, 1px 1px 2px 1px dark_theme_color, 1px 1px 4px 1px theme_color
            transition none
          .desc
            color #666
            font-size .8em
            line-height 1.3em
            min-height 40px
            margin-top 6px
        .header
          position relative
          .icon
            position absolute
            left 20px
          h2
            font-size 2em
            color dark_theme_color
            margin 25px 0 10px 110px
            font-weight 200
          .desc
            margin 0 0 0 110px
        li
          float left
          > label
            width 115px
            cursor pointer
        li, input[type='radio']:hover + label
          color theme_color
        li, input[type='radio']:checked + label
          font-weight bold
          color theme_color
        li, input[type='radio'] + label
          font-weight 400
          display inline-block
          transition color .1s ease-out .1s
        li > div, input[type='radio']
          position absolute
          left 0
          top 10px
        input[type='radio']:checked ~ div
          display block
        input[type='radio'] ~ div
          display none
        input[type='radio']
          opacity 0
        .dialog
          position absolute
          top 75px
          left 0
        .note
          left 154px!important
  //}}}

// vim: fdm=marker
