h1 admin upgrade component
p marketing fluff / explanations buy buy buy our stuff plz

h2 Buy Custom Domain
p heres why...
input(type='button', onclick="doBuy('custom_domain')", value='Buy Custom Domain')

h2 Buy Private Site
p heres why...
input(type='button', onclick="doBuy('private_site')", value='Buy Private Site')
