li.default
  div
    span.disclose
    .icon
    input.row(type='text', placeholder='Title')
    .cancel.onclick-close(title='Delete') X

form.menus.onclick-submit(action="/resources/sites/#{site.id}", method="put", enctype='multipart/form-data')
  input(type='hidden', name='action', value='menu')
  input(type='hidden', name='id')    //- active id
  input(type='hidden', name='dbid')  //- database id (for pages and forums)
  input(type='hidden', name='title') //- active title
  button.onclick-add Add
  .col1
    ol.sortable
  .col2
    fieldset
      ul.options
        li
          input.option(id='forum', type='radio', name='dialog', checked='checked', value='forum')
          label.header(for='forum')
            .s-forum.icon
            h2 Forum
            .desc Discussion &amp; Chat
          .dialog
            label(for='forum_title') Title
            input#forum_title(type='text', name='forumTitle')
            .note Titles show in the main menu
            .break
            label(for='forum_slug') Slug
            input#forum_slug(type='text', name='forumSlug', placeholder='/path/to/forum')
            .note URL suffix for this page
            .break
            label(for='forum_description') Description
            input#forum_description(type='text', name='forumDescription')
            .note Descriptions show on homepage views
            .break
            label(for='posts_per_page') Replies 
              small per page
            input(id='posts_per_page', placeholder='30', class='posts-per-page', name='postsPerPage', type='text', value='30', maxlength=4)
            .note Override the default
            //-.break
            //- XXX html5-uploader works inside parent <form>
            //-#uploader_component
            .break
            label(for='locked') Admin Only
            .box
              input.stylish#locked(type='checkbox', value='checked', name='locked')
              label.switch-control(for='locked')
                .switch
            .note Lock entire forum (read-only except admin)
            .break
            label(for='comments') Comments
            .box
              input.stylish#comments(type='checkbox', value='checked', name='comments')
              label.switch-control(for='comments')
                .switch
            .note Commentable forums are threaded like Reddit
            .break
            button(type='submit', value='Save') Save
        li
          input.option(id='product', type='radio', name='dialog', value='product')
          label.header(for='product')
            .s-page.icon
            h2 Product
            .desc Offer Page Template
          .dialog
            label(for='product_title') Title
            input#product_title(type='text', name='productTitle')
            .note Titles show in the main menu
            .break
            label(for='product_slug') Slug
            input#product_slug(type='text', name='productSlug', placeholder='/path/to/product')
            .note URL suffix for this page
            .break
            label(for='product_description') Description
            input#product_description(type='text', name='productDescription')
            .note Exactly the &lt;H1&gt; text, shows on homepage views
            .break
            .break
            .break
            label(for='affiliate_link') Affiliate Link
            input#affiliate_link(type='text', name='affiliateLink')
            .note Affiliate or otherwise link to send traffic
            .break
            label Content Only
            .box
              input.stylish#product_content_only(type='checkbox', value='checked', name='productContentOnly')
              label.switch-control(for='product_content_only')
                .switch
            .note Hide the header, side-bar &amp; footer for this page
            .break
            //- XXX html5-uploader works inside parent <form>
            #photo_uploader
            .break
            label(for='product_content') Content
            textarea(id='product_content', name='productContent')
            .note Paste the HTML contents of the page above
            .break
            .break
            .break
            label(for='top_video') Video URL
            input(id='top_video', type='text', name='videoTop', placeholder='https://www.youtube.com/watch?v=Trurfqh_6fQ')
            .note Shows at top of the page
            .break
            label(for='bottom_video') Video URL 2
            input(id='bottom_video', type='text', name='videoBottom', placeholder='https://www.youtube.com/watch?v=-6BsiVyC1kM')
            .note Shows at bottom of the page
            .break
            label(for='hashtags') Hashtags
            input(id='hashtags', type='text', name='hashtags', placeholder='#powerbulletin #product #three')
            .note For searches and social media
            .break
            button(type='submit', value='Save') Save
        li
          input.option(id='link', type='radio', name='dialog', value='link')
          label.header(for='link')
            .s-link.icon
            h2 Link
            .desc External or Internal
          .dialog
            label(for='link_title') Title
            input#link_title(type='text', name='linkTitle')
            .note Titles show in the main menu
            .break
            label(for='url') Url
            input(id='url', type='text', name='url', placeholder='http://')
            .break
            label(for='link_description') Description
            input#link_description(type='text', name='linkDescription')
            .note Descriptions show on homepage views
            .break
            label(for='separate_tab') Separate Tab
            .box
              input.stylish#separate_tab(type='checkbox', value='checked', name='separateTab')
              label.switch-control(for='separate_tab')
                .switch
            .note Open link in separate window
            .break
            button(type='submit', value='Save') Save
        li
          input.option(id='page', type='radio', name='dialog', value='page')
          label.header(for='page')
            .s-page.icon
            h2 Page
            .desc Raw HTML
          .dialog
            label(for='page_title') Title
            input#page_title(type='text', name='pageTitle')
            .note Titles show in the main menu
            .break
            label(for='page_slug') Slug
            input#page_slug(type='text', name='pageSlug', placeholder='/path/to/page')
            .note URL suffix for this page
            .break
            label(for='page_description') Description
            input#page_description(type='text', name='pageDescription')
            .note Descriptions show on homepage views
            .break
            label Content Only
            .box
              input.stylish#content_only(type='checkbox', value='checked', name='contentOnly')
              label.switch-control(for='content_only')
                .switch
            .note Hide the header, side-bar &amp; footer for this page
            .break
            label(for='content') Content
            textarea(id='content', name='content')
            .note Paste the HTML contents of the page above
            .break
            button(type='submit', value='Save') Save
        li
          input.option(id='placeholder', type='radio', name='dialog', value='placeholder')
          label.header(for='placeholder')
            .s-placeholder.icon
            h2 Menu Item
            .desc Navigation Organizer, 
              br
              | no content
          .dialog
            label(for='placeholder_title') Title
            input#placeholder_title(type='text', name='placeholderTitle')
            .note Titles show in the main menu
            .break
            label(for='placeholder_description') Description
            input#placeholder_description(type='text', name='placeholderDescription')
            .note Descriptions show on homepage views
            .break
            button(type='submit', value='Save') Save
