.AdminMenu
  .default
    display none

  .col1
    width 325px
    .sortable
      margin 20px 0
      li:hover
        .cancel
          opacity 1
      li
        cursor move
        position relative
        input
          width 200px
        .cancel
          position absolute
          z-index 10
          left -11px
          top -9px
    .onclick-add
      margin-left 0
      width 120px
    .placeholder
      outline 1px dashed #333
      margin -1px
      border-radius 3px
  .col2
    display none
    .has-dialog
      margin-top -45px
      transition margin-top .15s ease-out
      label.type, .option, .header
        display none!important
      .dialog
        visibility visible
        opacity 1
    fieldset
      padding-top 17px!important
      min-width 500px
      position relative
      .dialog
        visibility hidden
        opacity 0
      .type, .dialog
        position absolute
        left 0
      .options
        list-style none
        margin 0
        padding 0
        li:first-child .header
          margin-left 105px
        li
          float left
          > label
            width 95px
            cursor pointer
        li, input[type='radio']:checked + label
          font-weight bold
          font-size 1.05em
          color #000
        li, input[type='radio'] + label
          font-weight 400
          display inline-block
          font-size .98em
        li > div, input[type='radio']
          position absolute
          left 0
          top 10px
        input[type='radio']:checked ~ div
          display block
        input[type='radio'] ~ div
          display none
        input[type='radio']
          opacity 0
        .dialog
          position absolute
          top 75px
          left 0
          .note
            left 144px!important
          .button
            width 350px!important
            margin 14px 0 0 140px!important
