li.default
  div
    input.row(type='text', placeholder='Title')

form.menus.onclick-submit(action="/resources/sites/#{site.id}", method="put")
  input(type='hidden', name='action', value='menu')
  input(type='hidden', name='id')    //- active id
  input(type='hidden', name='dbid')  //- database id (for pages and forums)
  input(type='hidden', name='title') //- active title
  .col1
    button.onclick-add Add
    ol.sortable
  .col2
    fieldset
      label.type Select a Type
      ul.options
        li
          input.option(id='forum', type='radio', name='dialog', checked='checked', value='forum')
          label.header(for='forum') Forum
          .dialog
            label(for='forum_slug') Slug
            input#forum_slug(type='text', name='forumSlug')
            .note URL suffix for this page
            .break
            label(for='locked') Admin Only
            .box
              input#locked(type='checkbox', value='checked', name='locked')
              label.switch-control(for='locked')
                .switch
              span.label.checked Locked
              .note Lock entire forum (read-only except admin)
            .break    
            label(for='comments') Comments
            .box
              input#comments(type='checkbox', value='checked', name='comments')
              label.switch-control(for='comments')
                .switch
              span.label.checked Yes
              .note Commentable forums are threaded like Reddit
            .break    
            button(type='submit', value='Save') Save
            .tooltip
        li
          input.option(id='page', type='radio', name='dialog', value='page')
          label.header(for='page') Page
          .dialog
            label(for='page_slug') Slug
            input#page_slug(type='text', name='pageSlug')
            .note URL suffix for this page
            .break
            label Content Only
            .box
              input#content_only(type='checkbox', value='checked', name='contentOnly')
              label.switch-control(for='content_only')
                .switch
              span.label.checked On
              .note Hide the header, side-bar &amp; footer for this page
            .break
            label(for='content') Content
            textarea(id='content', name='content')
            .note Paste the HTML contents of the page above
            .break    
            button(type='submit', value='Save') Save
            .tooltip
        li
          input.option(id='link', type='radio', name='dialog', value='link')
          label.header(for='link') External Link
          .dialog
            label(for='url') Url
            input(id='url', type='text', name='url', placeholder='http://')
            .break
            label(for='separate_tab') Separate Tab
            .box
              input#separate_tab(type='checkbox', value='checked', name='separateTab')
              label.switch-control(for='separate_tab')
                .switch
              span.label.checked Yes
              .note Open link in separate window
            .break    
            button(type='submit', value='Save') Save
            .tooltip
