//{{{ Login
info.tooltip
  left 38%!important

#auth
  width 530px
  overflow hidden
  padding-bottom 16px
  a
    cursor pointer
  .msg
    margin-right (grid/2)

.on-dialog
  #auth
    .dialog
      display block!important
      h2
        font-size 1.5em
      .msg2
        margin 1.5em
        text-align center
      .msg
        margin-top 20px
        h3::before
          visibility hidden
        h3
          text-align center
          margin-top (grid*2)!important
          margin-right grid
          text-transform uppercase
          letter-spacing 0
          font-weight bold
  .register, .login
    display none!important
.on-register
  #auth
    input[name="email"]:focus
      border-top-left-radius 4px
      border-top-right-radius 4px
    input[name="email"]
      border-top-left-radius 0
      border-top-right-radius 0
    .register
      display block!important
      .tooltip
        width 285px
        padding 5px 1px
        left 45%
        font-size .95em
    .choose, .login, .forgot, .reset
      display none!important
.on-newsletter
  #auth
    .newsletter
      display block!important
      p
        margin -30px 0 25px 0
        color #bbb
        font-weight 300
        text-align center
      .tooltip
        top auto
        bottom 123px!important
        width 220px
        padding 6px 10px
        font-size 1em
        margin-left -128px
    .choose, .login, .forgot, .reset
      display none!important
    .msg
      visibility visible
.on-choose
  #auth
    .choose
      display block!important
      .tooltip
        width 295px
        margin-top -42px
        padding 6px 10px
        font-size 1em
        margin-left -160px
    .login, .forgot, .reset
      display none!important
    .msg
      visibility hidden
.on-forgot
  #auth
    .forgot
      display block!important
      .tooltip
        width 285px
        left 43%
        font-size .9em
        padding 4px 3px
        top 58px
    .login, .choose, .reset
      display none!important
.on-reset
  #auth
    .reset
      display block!important
    .login, .choose, .forgot
      display none!important
.on-error
  #auth
    .fmsg
      height 30px!important
      opacity 1!important
      transition height .5s, opacity 1s
#auth
  padding 5px
  min-height 240px
  .strength-meter
    position absolute
    transform rotate(180deg)
    right 115px
    z-index 11
    height 20px
    width 8px
    margin-top -36px
  .generate-password, .toggle-password
    position absolute
    z-index 10
    margin-top -37px
    letter-spacing 1px
    font-size 11px
    font-weight 200
    right 130px
    padding 0 5px
    cursor pointer
  .generate-password
    right 175px
  .register .tooltip
    margin-bottom 222px
  .login, .forgot, .reset, .choose
    .tooltip
      width 210px
      bottom auto
      margin-top -58px
  .login .tooltip
    margin-top -52px
    width 100px
    margin-left -60px
  .login
    .small.msg
      float right
      cursor help
      opacity 1
      height auto
      h3
        text-shadow none
        font-size .8em
  .choose, .newsletter, .forgot, .register, .reset
    overflow hidden
    a
      h3
        margin-right grid
        margin-top (grid+2)
        float right
        padding-left 12px
    button[type='submit']
      margin-top 4px
  .error
    display none
  h2
    text-align center
    margin 0 0 20px 0
    letter-spacing 1px
    font-weight 200
    font-style italic
    font-size 1.5em
  h3
    margin 0 5px 10px 0
  .social
    margin 15px auto 15px 108px
    width 150px
    height 55px
    a
      text-decoration none
      margin-right 3px
  fieldset
    position relative
    padding 20px 102px
  input[name="email"]
    width 297px
    padding 10px
    margin -6px 0 5px 0
    position relative
  input[name="username"], input[name="login-email"]
    width 300px
    display block
  input[name="password"]
    width 300px
  button[type="submit"]
    height 42px
    width 318px
    margin-top 5px
    margin-bottom 8px
    display block
//}}}

@media screen and (max-width: 800px)
  #auth
    h2
      color #eee
    fieldset
      padding 3px!important
  .fancybox-overlay, .fancybox-wrap, .fancybox-skin
    padding 0
    margin 0
    background-image none
    background-color #111!important
    background #111!important
