.Buy
  a
    if dark(theme_color)
      color lighten(theme_color, 20%)
    else
      color theme_color
  min-width 680px
  margin-right 30px
  .clear
    clear both
  h1
    color #777
    min-width 580px
    letter-spacing 2px
    text-align center
    font-weight 200
    font-size 1.5em
    font-style italic
    margin-bottom 40px
  .features
    text-align right
    margin-right 30px
    h2
      margin 15px 0
      color #444
      font-weight 300
      font-size 1.4em
      b
        if dark(theme_color)
          color lighten(theme_color, 23%)
        else
          color theme_color
        letter-spacing -2px
        font-size 2em
        font-weight 500
    menu
      list-style none
      margin 15px 0 0 0
      padding 0
      color theme_color
      font-style italic
      font-weight 200
      li
        padding-left 5px
        margin-bottom 6px
        span
          color #aaa
  label
    vertical-align middle
    display inline-block
    width 120px
    color #eee
    font-size 1.05em
  .right
    float right
  .notice
    float right
    clear both
    margin 6px 20px 0
    color #999
    font-size .8em
    font-weight 200
  .cards
    margin-top 12px
    margin-right 17px
    float right
    clear both
    padding-bottom 40px
    .amex
      background-image url(cache-url + '/images/amex.png')
    .discover
      background-image url(cache-url + '/images/discover.png')
    .visa
      background-image url(cache-url + '/images/visa.png')
    .mastercard
      background-image url(cache-url + '/images/mastercard.png')
    .jcb
      background-image url(cache-url + '/images/jcb.png')
    .mastercard, .visa, .discover, .amex, .dinersclub, .jcb
      display inline-block
      height 26px
      width 37px
      margin-right 5px
      float right
    .jcb
      width 39px
      background url(cache-url + '/images/jcb.png') -5px -10px
    .dinersclub
      background-image url(cache-url + '/images/dinersclub.png')
      width 40px
      height 27px
      margin-top -1px
  .ccinfo
    position relative
    padding 20px 20px 10px 20px
    border 1px solid rgba(255,255,255,.05)
    background-color rgba(0,0,0,.1)
    background-image linear-gradient(to bottom, #333 14%, #222)
    border-radius 12px / 8px
    button.Buy-checkout
      float right
      margin 20px 0 12px 0
      height 45px
      width 100%
    .Buy-card-number
      width 275px
      margin-bottom 14px
      font-size 1.2em
    .Buy-card-month
      margin-right 10px
    .Buy-card-year
      margin-left 10px
    .Buy-card-code
      font-size 15px
      margin-top 12px
      width 60px
    .Buy-card-expiration
      width 75px
    h3
      margin 0
    .Buy-change-card
      margin-top 15px
      font-size 1.1em
      float right
    em
      float right
      color #888
      font-size .8em
      font-style italic
  .tooltip
    top -69px
    bottom auto
    box-shadow 0 0 3px 1px #999
  .code
    font-weight bold
    border 1px solid #444
    padding 1px 4px
    border-radius 8px / 3px
    transform rotate(10deg)
    color green
    margin-left 6px
    font-size .9em
    cursor pointer
    position relative
    z-index 99
    &:hover
      border 1px solid #555
      .cvvinfo
        opacity 1
        height 85px
        padding 10px
        top -119px
        transition top .2s ease-out .1s, height .2s ease-in-out .2s, opacity .6s ease-in-out .1s
    .cvvinfo
      border-radius 12px / 8px
      top 0
      left -96px
      background-color #000
      border 1px solid #222
      padding 0
      margin 0
      opacity 0
      height 0
      width 293px
      overflow hidden
      position absolute
      z-index 100
      img:first-child
        margin-right 8px
