.fancybox-skin
  background-image linear-gradient(to top, #fff 10px, #f2f2f2 100%)
.Buy
  .clear
    clear both
  .error
    background rgb(255,240,240)!important
  h1
    color #777
    letter-spacing 2px
    text-align center
    font-weight 200
    font-size 2.5em
    font-style italic
  .features
    text-align right
    margin-right 30px
    h2
      margin 15px 0
      color green
      font-weight 300
      font-size 1.4em
      b
        font-size 1.2em
        font-weight bold
        text-shadow 0 -1px 0 rgba(0,0,0,.5)
    menu
      list-style none
      margin 15px 0 0 0
      padding 0
      color #777
      font-size 1.1em
      font-style italic
      font-weight 200
      li
        padding-left 5px
        margin-bottom 6px
  label
    vertical-align middle
    display inline-block
    width 120px
    color #333
  .right
    float right
  .cards
    margin-top 12px
    margin-right 17px
    float right
    clear both
    .amex
      background-image url(cache-url + '/images/amex.png')
    .discover
      background-image url(cache-url + '/images/discover.png')
    .visa
      background-image url(cache-url + '/images/visa.png')
    .mastercard
      background-image url(cache-url + '/images/mastercard.png')
    .jcb
      background-image url(cache-url + '/images/jcb.png')
    .mastercard, .visa, .discover, .amex, .dinersclub, .jcb
      display inline-block
      height 26px
      width 37px
      margin-right 5px
      float right
    .jcb
      width 39px
      background url(cache-url + '/images/jcb.png') -5px -10px
    .dinersclub
      background-image url(cache-url + '/images/dinersclub.png')
      width 40px
      height 27px
      margin-top -1px
  .ccinfo
    position relative
    padding 20px 20px 10px 20px
    border 1px solid #f3f3f3
    border-radius 12px / 8px
    background-color #fff
    input.Buy-checkout 
      float right
      margin 20px 0 12px 0
      height 45px
      width 100%
    .Buy-card-number
      width 275px
      margin-bottom 14px
      font-size 1.2em
    .Buy-card-month
      margin-right 10px
    .Buy-card-year
      margin-left 10px
    .Buy-card-code
      height 15px
      margin-top 12px
      width 60px
    .Buy-card-expiration
      width 75px
    h3
      margin 0
    .Buy-change-card
      margin-top 15px
      font-size 1.1em
      float right
    em
      float right
      color #888
      font-size .8em
      font-style italic
  .tooltip
    top -35px
    bottom auto
  .code:hover
    background-color #f3f3f3
    border 1px solid #f0f0f0
    .cvvinfo
      opacity 1
      height 85px
      padding 10px
      top -119px
      transition top .2s ease-out .1s, height .2s ease-in-out .2s, opacity .6s ease-in-out .1s
  .code
    font-weight bold
    background-color #f6f6f6
    border 1px solid #f3f3f3
    padding 1px 4px
    border-radius 5px / 3px
    transform rotate(10deg)
    color green
    margin-left 6px
    font-size .9em
    cursor pointer
    position relative
    .cvvinfo
      border-radius 12px / 8px
      top 0
      left -96px
      background-color #eee
      border 1px solid #ccc
      padding 0
      margin 0
      opacity 0
      height 0
      width 293px
      overflow hidden
      position absolute
      z-index 100
      img:first-child
        margin-right 8px
