.CensorReasonDialog
  position absolute
  border-radius 3px
  background #f0f0f0
  padding 10px 13px
  z-index 101 // above footer

  .cancel
    opacity 1
    position absolute
    top -9px
    right -10px

  textarea
    min-width 240px

  input[type='submit']
    position absolute
    right 17px
    bottom 20px
    padding 8px
    font-size .8em
    z-index 10
