.CensorReasonDialog
  position absolute
  border 2px solid black
  background #fff
  padding 1em
  z-index 101 // above footer

  .cancel
    position absolute
    top 0
    right 0

  textarea
    width 240px

