.Chat
  position fixed
  right 0
  bottom 0
  height 300px

  .header
    h2
      height 22px
      margin 0
      padding 0
    .close
      position absolute
      top 0
      right 0

  .body
    height 244px

  .footer
    bottom 0
    textarea
      height 16px
