.Chat
  position fixed
  right 0
  bottom 0
  width 220px
  height 300px

  .header
    h2
      height 22px
      margin 0
      padding 0
    .close
      position absolute
      opacity 1
      top 0
      right 0

  .body
    height 244px

    .messages
      height 244px
      overflow-x hidden
      overflow-y auto
      font-size 12px

      .msg
        .from-name
          float left
          width 60px
        .text
          margin-left 64px

  .footer
    bottom 0
    textarea
      font-size 12px
      height 16px
      width 202px
      resize none
