.close.onclick-close(title='Close') X
.header
  .profile
    .minimize(title=others[0].name)
      img(src=others[0].profile)
  h2 #{others[0].name}
.container
  .messages
    .load-more(style="display:none;") load more...

  .msg(style="display:none;")
    .body
    .from
      a.from-name.mutant
.footer
  form
    textarea(name="body")
