.ChatList
  position absolute
  top 0
  right 0
  margin 0
  background-color #fff
  border-left 1px solid #eee

  .chat
    margin 0.25em
    padding 0.35em
    cursor pointer

  .chat:hover
    background lighta
