body.scrolled
  .footer
    bottom 65px

.ChatPanel
  position absolute
  top 0
  right 0
  margin 0
  background-color #fff
  border-left 1px solid #eee

  &.hidden

  .header
    background-color overlay_color_secondary
    padding 1px
    border-bottom 1px solid #f6f6f6
    h5
      margin-left 15px
      text-transform capitalize
  .middle
    position relative
    .messages
      margin 0
      padding 35px 0 0 0
      left 0
      height 100%
      width 100%
      list-style-type none
      overflow-y scroll

      img
        width 90%

    .messages > li
      position relative
      padding .1em 0.5em
      margin 0.5em
      color #666
      font-size .9em
      text-align right
      border-right 2px solid dark
      word-wrap break-word
    .messages li:last-child
      margin-bottom grid
    .messages > li.other
      text-align left
      background-color #fff
      color #333
      font-size 1em
      border-left 2px solid light
      border-right 0
    .messages > li:not(.other) + li.other
      border-top 1px solid #eee

  .footer
    position absolute
    bottom 97px
    right 0
    left 1px
    overflow hidden
    border-top 1px solid #eee
    .message-box
      overflow hidden
      padding 5px 0 5px 5px
      border 0
      font-size 12px
      height 15px
      resize none
      bottom 0
      left 1px
