body.scrolled
  .footer
    bottom 65px

.ChatPanel
  position absolute
  top 0
  right 0
  margin 0
  background-color #fff
  border-left 1px solid #fafafa

  &.hidden

  .header
    h5
      margin-left 15px
      text-transform capitalize
  .middle
    position relative
    .messages
      margin 0
      padding 35px 0 0 0
      left 0
      height 100%
      width 100%
      list-style-type none
      overflow-y scroll

      img
        width 90%

    .messages > li
      position relative
      margin 0.5em
      padding 0.5em
      border-radius 8px
      background-color #fafafa
      color #666
      font-size .9em
      text-align right
    .messages > li.other
      text-align left
      background-color #fff
      color #333
      font-size 1em

  .footer
    position absolute
    bottom 97px
    right 0
    left 1px
    overflow hidden
    border-top 1px solid #eee
    .message-box
      overflow hidden
      padding 5px 0 5px 5px
      border 0
      font-size 12px
      height 15px
      resize none
      bottom 0
      left 1px
