.header
  h2 #{others[0].name}
  .minimize -
  .close.onclick-close X
.body
  .messages
    .load-more(style="display:none;") load more...

  .msg(style="display:none;")
    .text
    .from
      a.from-name.mutant
.footer
  form
    textarea(name="body")
