.Chat
  position fixed!important
  z-index 999
  border-radius 5px
  right 0
  bottom 0
  width 220px
  height 300px
  background-color #fff
  border 1px solid #888
  border-right 1px solid #aaa
  border-top 1px solid #ddd
  .header:hover
    .close
      opacity 1
      transition opacity .3s ease-out
  .header
    h2
      font-size 1.1em
      height 22px
      margin 2px 0 0 6px
      padding 0 0 0 28px
      text-transform capitalize
    .close
      position absolute
      opacity 1
      top -20px
      left 0
      opacity 0
    .minimize
      position absolute
      opacity 1
      top -13px
      left -35px
      cursor pointer
      img
        position relative
        height 45px
        border-radius 40px
    .minimize::after
      content ''
      position absolute
      display block
      border-radius 40px
      box-shadow inset 0px 1px 7px 4px rgba(255,255,255,.6), 0 0 1px 2px rgba(0,0,0,.3)
      top 0
      left 0
      right 0
      bottom 8px
  .container
    height 242px

    .messages
      height 244px
      overflow-x hidden
      overflow-y auto
      font-size 12px

      .msg
        margin 4px

        .body
          margin 4px
          padding 4px
        img
          width 90%

    .other .body
      text-align right
    .other .from
      text-align right

  .footer
    bottom 0
    textarea
      font-size 12px
      height 16px
      width 202px
      resize none
      border-top-right-radius 0
      border-top-left-radius 0
.Chat.minimized
  height 22px
  width 0
  transition height .1s ease-out .1s, width .15s ease-out
  .body, .container, .footer
    display none
  h2
    height 0
    width 0
    opacity 0
    transition .2s ease-out
