height = 300px

.Editor
  width 100%
  min-width 800px
  min-height height
  position relative
  &.has-preview
    .wmd-panel
      width 50%
    .wmd-preview 
      width 49%
      transition width .1s ease-out
    .onclick-toggle-preview
      width 94px
      &:after
        content 'Hide Preview'
  .onclick-toggle-preview
    position absolute
    z-index 10
    right 0
    bottom 0
    height 20px
    width 99px
    padding 4px 12px
    color #fff
    background-color rgba(0,0,0,.6)
    border-left 1px solid #333
    border-top 1px solid #333
    border-top-left-radius 8px
    cursor pointer
    &:after
      position absolute
      content 'Show Preview'

  //{{{ <PageDown Editor>
  blockquote 
    border-left 2px dotted #888
    padding-left 5px

  .wmd-panel
    position relative
    float left
    height height
    width 100%
    padding 0
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    background-color #fff
    .wmd-input 
      position absolute
      top 37px
      left 2px
      right 0
      bottom -4px
      resize none
      transform none
  .wmd-preview 
    overflow scroll
    float right
    width 0
    height height
    color #333
    background-color #eee
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    h1, h2, h3, h4, h5, h6
      color #333

  .wmd-button-bar 
    width 100%
    background-color #eee

  .wmd-button-row 
    position relative 
    margin-left 5px
    margin-right 5px
    margin-bottom 5px
    margin-top 10px
    padding 0  
    height 20px

  .wmd-spacer
    width 1px 
    height 20px 
    margin-left 14px
    position absolute
    background-color Silver
    display inline-block 
    list-style none

  .wmd-button 
    width 20px
    height 20px
    padding-left 2px
    padding-right 3px
    position absolute
    display inline-block
    list-style none
    cursor pointer

  .wmd-button > span 
    background-image url(cache-url + '/images/wmd-buttons.png')
    background-repeat no-repeat
    background-position 0 0
    width 20px
    height 20px
    display inline-block

  .wmd-spacer1
    left 50px
  .wmd-spacer2
    left 175px
  .wmd-spacer3
    left 300px

absolue_top = 9999999!important
.wmd-prompt-background
  background-color #000
  z-index 99998!important

.wmd-prompt-dialog
  border 1px solid #777
  background-color #fafafa
  border-radius 3px
  z-index 99999!important
  //}}} </PageDown Editor>

// vim: fdm=marker
