height = 300px

.Editor
  min-width 800px
  min-height height

  // <PageDown Editor>
  blockquote 
    border-left 2px dotted #888
    padding-left 5px

  .wmd-panel
    position relative
    float left
    height height
    width 50%
    padding 0
    border-top-left-radius 3px
    border-bottom-left-radius 3px
    background-color #fff
    .wmd-input 
      position absolute
      top 37px
      left 2px
      right 0
      bottom -4px
      transform none
  .wmd-preview 
    float right
    width 49%
    height height
    color #333
    background-color #eee
    border-top-right-radius 3px
    border-bottom-right-radius 3px
    h1, h2, h3, h4, h5, h6
      color #333

  .wmd-button-bar 
    width 100%
    background-color #eee

  .wmd-button-row 
    position relative 
    margin-left 5px
    margin-right 5px
    margin-bottom 5px
    margin-top 10px
    padding 0  
    height 20px

  .wmd-spacer
    width 1px 
    height 20px 
    margin-left 14px
    position absolute
    background-color Silver
    display inline-block 
    list-style none

  .wmd-button 
      width 20px
      height 20px
      padding-left 2px
      padding-right 3px
      position absolute
      display inline-block
      list-style none
      cursor pointer

  .wmd-button > span 
      background-image url(cache-url + '/images/wmd-buttons.png')
      background-repeat no-repeat
      background-position 0 0
      width 20px
      height 20px
      display inline-block

  .wmd-spacer1
      left 50px
  .wmd-spacer2
      left 175px
  .wmd-spacer3
      left 300px

absolue_top = 9999999!important
.wmd-prompt-background
  background-color Black
  z-index 99998!important

.wmd-prompt-dialog
  border 1px solid #777
  background-color #fafafa
  border-radius 3px
  z-index 99999!important
  // </PageDown Editor>
