.Homepage
  .homepage
    h2
      font-weight 200
      font-size 2em
      margin 2px 0 4px 5px!important
      padding-bottom 0!important
      text-transform capitalize
      float left
    h2 ~ .moderation-log
      top 82px
    .moderation-log
      position absolute
      top 54px
      right 67px
      z-index 9
      min-height 25px
      font-weight 300
      padding 0 4px
      a
        background-color #fff
        padding 3px 6px
        border-radius 2px
        color theme_color
        b
          margin-right 5px
      &:hover
        background-color theme_color
        border-radius 8px
        transition none
        a
          background-color transparent
          color #fff
    .social
      right 67px!important
      bottom -25px!important
