.Homepage
  h2
    font-weight 200
    font-size 2em
    margin 17px 0 17px 5px
    padding-bottom 15px
    text-transform capitalize
    float left
  .moderation-log
    float right
    font-weight 300
    padding 2px 9px
    margin-bottom 8px
    margin-top 30px
    a
      color #777
      b
        margin-right 5px
    &:hover
      background-color theme_color
      border-radius 8px
      transition none
      a
        color #fff
  .social
    right 0!important
    bottom 30px!important
