.Homepage
  h2
    font-weight 200
    font-size 2em
    margin 17px 0 17px 5px
    padding-bottom 15px
    text-transform capitalize
    float left
  .moderation-log
    position relative
    z-index 9
    min-height 25px
    float right
    font-weight 300
    padding 2px 9px
    margin 30px 48px 8px 0
    a
      color #777
      b
        margin-right 5px
    &:hover
      background-color theme_color
      border-radius 8px
      transition none
      a
        color #fff
  .social
    right 51px!important
