// shrink overall look when body has been scrolled
body.scrolled
  header
    .container
      .MainMenu
        .menu
          bottom -2px
          > .row
            transition line-height .2s ease-out
            .submenu
              .row
                line-height (grid*3)
          > .row:hover
            .submenu
              top 28px

.MainMenu
  //{{{ Structure-related
  .menu
    padding 0
    margin -3px auto 0 auto
    display inline-block
    position absolute
    bottom -1px
    > .row
        position relative!important
        z-index 50!important
      .title
        display inline-block
        text-transform capitalize
        padding 0 15px
        margin-right 20px
    .row.active, .row:hover
      z-index 7
      > .submenu
        opacity 1
        top 29px
        max-height 450px
        height auto
        min-width 850px
        padding 10px 0 25px 0
        margin-left -27px
        box-shadow 0 1px 15px -1px light
        transition padding .15s ease-out .15s, margin-left .15s ease-out .2s, box-shadow .15s ease-out .2s, max-height .05s ease-out .2s
        .col-sep
          left 270px
        .col-sep2
          left 520px
        .col-sep, .col-sep2
          position absolute
          background #eee
          width 1px
          bottom 30px
          top 40px
    .row
      cursor pointer
      display inline
      line-height 38px
      font-size 1em
      position relative
      .title
        position relative
        z-index 66
      .submenu
        text-transform capitalize
        z-index 65
        top -600px
        overflow-y scroll
        opacity 0
        position absolute
        padding 0
        margin 0
        max-height 0
        box-shadow 0
        transition box-shadow 0s ease-out .1s, padding 0s ease-out .1s, opacity .1s ease-out, max-height .0s ease-out .1s, top 0s ease-out .1s, min-width 0s ease-out .1s, margin 0s ease-out .1s
        > ul
          margin-top 12px!important
        ul
          margin 0
          padding-left 25px
          .row
            width 250px
            display inline-block
            clear both
            //float left
            font-size .9em
            text-indent 2px
            a
              line-height 28px
              padding 0 10px
              display inline-block
  //}}}
  //{{{ Theme-related
.MainMenu
  .menu
    .row
      > .title.hover
        position relative!important
        z-index 75!important
        color dark_text!important
        transition color .5s ease-out
      > .title.active::after
        background radial-gradient(ellipse farthest-corner at 50% 800%, light 50%, rgba(255,255,255,0) 80%)
        height 5px
        width 60%
        transition width .15s ease-out, height .15s ease-out
      > .title.hover::after
        background radial-gradient(ellipse farthest-corner at 50% 375%, light 50%, rgba(255,255,255,0) 80%)
        height 7px
        width 60%
        transition width .15s ease-out .15s
      .title.active
        font-weight 400
        color #333
        transition color .2s ease-out
      > .title:hover, .title.hover
        color #555
        animation-name tiny-grow!important
        animation-duration .1s
      .title
        text-decoration none
        border-bottom 1px solid transparent
        color #777
        text-transform uppercase
        font-weight 400
      .title::after
        position absolute
        content ''
        left 20%
        width 0%
        height 0
        bottom 0
      .submenu
        border-radius 30px
        background-color #fff
        background-image linear-gradient(bottom, #fff 50%, #f0f0f0)
        color #333
        .row
          line-height (grid*4)
          border-right 1px solid transparent
          border-left 1px solid transparent
          .title::after
            display none
          &:hover
            > a
              color #fff!important
              animation-name none
              transition none
              background-color light
              border-radius 50px
              transform scale(1.05)
          .row.active
            &:hover
              > a
                color #fff!important
                background-color light
                transition none
                padding-bottom 1px
            a
              color #000
              animation-name none
              font-weight bold
              border-radius 20px
          a
            color #222
            text-decoration none
            white-space nowrap
            text-overflow ellipsis
        .indent
          float left
          ul
            margin-top -5px
            margin-left 0
            .row
              padding 0
              > a
                color #777
            // XXX reusing existing (parent) &:hover style
  // }}}

// vim:fdm=marker
