.MenuSummary
  clear both
  .container
    padding 7px 20px 5px 20px
    margin 0 50px 0 0
    border-radius 13px / 6px
    background-color #fff
    table
      width 100%
      th
        text-align left
        color dark_text
        padding 10px 0 10px 8px
        font-size 1.1em
        font-weight 300
      .first
        min-width 300px
      tr:nth-child(odd)
        background-color lighten(theme_alpha, 60%)
      tr:last-child, tr:first-child
        background-color transparent
      tr:last-child
        border-bottom none
      tr
        position relative
        border-bottom 1px solid lighten(theme_alpha, 10%)
        transition all .1s ease-out .1s
        .icon
          float left
          margin -1px 18px 15px -5px
        .title:before, .last-post:before, .threads:before, .posts:before
          content ''
          opacity 0
          z-index 5
          height 1px
          position absolute
          left 0
          right 4%
          bottom -1px
          box-shadow 0 0 3px theme_color
          transition all .1s ease-out .05s
        &.item-page
          &:hover
            .name
              transform scale(1.07)
              background-color theme_color
              color colored_text
              transition none
        &.item-forum
          .name
            position absolute
            padding 2px 9px
            margin-left -9px
            margin-top -4px
            border-radius 8px
            display inline-block
            transition all .05s ease-out .03s
          .description
            margin-top 22px
            font-size .95em
          .last-post
            .date
              display inline-block
              transform translate(0, 0)
              transition all .45s ease-out .05s
            a
              color #444
          &:hover
            .name
              transform scale(1.07)
              background-color theme_color
              color colored_text
              transition none
            .last-post
              .date
                &:before
                  opacity 0
                  transition opacity .1s ease-in
                transform translate(-3px, 0)
                transition all .1s ease-out
                b
                  color #111
            .threads, .posts
              color #000
              font-weight 400
        td
          padding grid
          vertical-align top
        .title
          position relative
          max-height 1.3em
          font-weight 400
          a
            overflow hidden
            text-overflow ellipsis
            text-transform capitalize
        .description
          font-weight 300
          font-size .9em
          color #666
          min-height 25px
          display block
        .last-post
          position relative
          font-size .9em
          padding 8px 25px 8px 8px
          &:first-letter
            text-transform uppercase
          .body
            font-weight bold
            overflow hidden
            text-overflow ellipsis
          .body, .username
            margin 0 3px
          .username
            position relative
            margin-left grid
            color dark_text
            text-transform capitalize
            &:before
              content '-'
              position absolute
              left -6px
          .date
            position relative
            font-style italic
            font-size .9em
            color #666
            margin-left 15px
            b
              text-transform capitalize
            &:before
              content '-'
              position absolute
              left -8px
              color #aaa
        .threads, .posts
          position relative
          color #666
          min-width 65px
          font-weight 200
          font-size 1.35em
