.MenuSummary
  margin-top grid
  margin-bottom (grid*5)
  ul
    margin 0
    padding 0
    list-style-type none
    .row
      position relative
      font-weight 300
      min-width 400px
      padding 5px 0 2px 0
      display block
      &:after
        content ''
        position absolute
        bottom 0
        left 0
        width 50%
        height 1px
        background-color #ddd
      &:hover
        > a
          color #fff
          background-color light
          animation-name none
        .description
          color #eee
      a
        display inline-block
        margin 1px 0
        border-radius 50px
      > .title
        padding 2px 10px
        font-weight 500
        font-size 1.1em
        max-height 1.3em
        overflow hidden
        text-overflow ellipsis
        text-transform capitalize
        font-weight 400
      .description
        font-style italic
        font-weight 200
        font-size .95em
        color #666
        margin-left 8px
      .indent
        margin 0 0 (grid*4) (grid*2)
      .summary
        position relative
        margin 3px 0 16px 16px
        font-size .9em
        .posts, .threads
          max-width 200px
        .last-post
          position absolute
          top 0
          left 120px
          width 200px
          .body, .username
            margin 0 3px
          .body
            font-size 1.2em
            font-weight 400
          .username
            color dark_text
