.MiniSiteList
  border-color #f0f0f0
  margin 58px 20px 45px 20px
  padding 20px 50px 10px 30px
  position relative
  max-width 600px
  min-width 400px
  p
    color #aaa
  p, h1
    margin 0
    padding 0

  .new
    position absolute
    right 8px
    bottom -35px
    font-weight 200
    font-size .75em
    a
      color #ccc
      transition all .4s ease-out .4s
      &:hover
        color #eee
        text-shadow 0 0 1px theme_color
        transition all .05s ease-out
    &.top
      bottom auto
      top -45px
      font-size 3em
      font-weight bold

  h1
    position absolute
    top -50px
    left 0
    line-height 1.5em
    letter-spacing 2px
    margin-bottom 20px
    font-weight 300
    font-style italic

  h2
    margin 2px
    color #eee!important

  h3
    color #eee!important
    font-weight 400
    font-size .95em
    margin 15px 0 5px 40px
    padding-top 5px
    border-top 1px dashed #333

  .onclick-first-site
    font-size 1.4em
    display block

  .users
    font-size small
    margin 5px 0 0px 12px

  .domains
    margin 0 12px
    padding 0
    li
      font-size 1.1em
      color #555
      list-style none

.MiniSiteList > ul
  margin 0 28px
  list-style none

.MiniSiteList > ul > li
    margin-bottom 8px
    padding 8px
    color #bbb
    a:first-child
      padding 1px 8px 3px 8px
      margin-left -8px
      transition all .2s ease-out
      &:hover
        background-color theme_color
        border-radius 4px
        color #fff
        transition none
.MiniSiteList > ul.memberships > li
  margin 0
  padding 0
  a
    margin 0 4px
    font-size .9em
    small
      font-size .65em
