.MiniSiteList
  margin-bottom 1em
  h1
    line-height 1.5em
    border-bottom 3px solid black
  h2
    margin 2px
  .users
    font-size small
    margin 5px

.MiniSiteList > ul
  margin 0 28px
  list-style none

.MiniSiteList > ul > li
    padding 8px
