z = 100

.PanelCollection
  position fixed
  height: 100%
  top 0
  right 0
  z-index z

  .toggler
    position fixed
    top 0.5em
    right 0.5em
    cursor pointer
    z-index 1
  .toggler.off:after
    content "☰ "
  .toggler.on:after
    content "x "

  .panel-togglers
    position relative
    float left
    margin 0
    top 50%
    left 0

    li
      list-style none
      cursor pointer

    .photo
      width 55px
      height 55px
      float none
