z = 8

body.scrolled
  .PanelCollection
    top header_scrolled_height
    bottom footer_height

.PanelCollection
  position fixed
  top header_height
  padding-top grid
  bottom 0
  right 0
  width 10px
  z-index z

  .toggler
    position absolute
    top 0.8em
    right 0.8em
    cursor pointer
    z-index 1
    color #aaa
  .toggler.off:after
    content "☰ "
    display none
  .toggler.on:after
    content "X "

  .panel-togglers
    position relative
    float left
    margin grid 0 0 0
    top 50%
    left 0
    .selected
      transform scale(1.1)
    li
      list-style none
      cursor pointer
      margin-bottom 8px

    .photo
      margin-left -51px
      width 55px
      height 55px
      float none
