z = 150

body.scrolled
  .PanelCollection
    top (header_scrolled_height+1)
    bottom footer_height

.PanelCollection
  position fixed
  top header_height
  padding-top grid
  bottom 0
  right 0
  width 10px
  z-index z

  // template
  .panel-tmpl
    display none

  .toggler
    position absolute
    padding 11px
    top 0
    right 14px
    font-size 1.3em
    color #eee
    cursor pointer
    z-index 1
    text-indent 2px
    transition color .2s ease-out
    &:hover
      transition none
      color #fff
  .toggler.off
    display none
    //&:after
    //  content "☰ "
    //  display none
  .toggler.on
    display block
    opacity 1
    //&:after
    //  content "X "
    //  position absolute

  .panel-togglers
    position relative
    float left
    margin grid 0 0 0
    left 0
    .selected
      transform scale(1.1)
    .panel-icon
      position relative
      list-style none
      cursor pointer
      margin-bottom 5px
      .notices
        position absolute
        left -57px
        top -5px
        z-index 1
        background-color theme_color
        color dark_text
        padding 1px 5px
        border-radius 100%
        font-size .9em
      .cancel
        position absolute
        left -15px
        top -5px
      &:hover
        .cancel
          display block
          opacity 1
    .photo
      margin-left -51px
      width 55px
      height 55px
      float none
