- var cacheBuster = Math.random().toString().replace(/\\./, '')
- var cropSrc = cacheUrl + photo + '?' + cacheBuster
h1 Loading ...
.crop
  .tooltip
  h2 Drag to Crop Your Photo
  .left
    img(src=cropSrc)
  .right
    .preview-wrapper
      img#preview(src=cropSrc)
    div.upload
      form(method="POST", action="#{endpointUrl}", enctype="multipart/form-data")
        button.onclick-upload Upload Photo
          input(type="file", name="avatar")
  button.onclick-save Save
