.PhotoCropper
  h1, h2
    margin 0 15px 15px 3px
    font-weight 300
    letter-spacing 1px
    font-size 1.3em

  input[type=file]
    cursor pointer
    position absolute
    top -2px
    left -2px
    right -2px
    bottom -2px
    margin 0
    padding 0
    opacity 0

  .crop
    display none
    padding-bottom 48px
    .left
      display inline-block
      vertical-align top
    .right
      display inline-block
      vertical-align top
      .preview-wrapper
        border-radius 100%
        margin-left 10px
        border 6px solid rgb(255,255,255)
        box-shadow 0 0 1px 3px solid theme_color
        overflow hidden
        width 150px
        height 150px
      .upload
        margin 10px 0 0 10px
        .onclick-upload
          font-size .9em
          width 100%

  .onclick-save
    cursor pointer
    position absolute
    right 1px
    left 1px
    bottom 1px
    z-index 9999
    font-weight 500
    text-align center
    cursor pointer
    overflow hidden
    width 100%
