.Sales
  .Sales-available
    font-weight bold
    font-size 3em

    .success
      color green
      display none
    .error
      color red
      display none

  .Sales-available.success
    .success
      display inline
  .Sales-available.error
    .error
      display inline
