body > div
  display none

// would be nice to infer this stuff from sales-url-mappings
body.super > .SuperAdmin-root
  display block

body.homepage > .Sales-root
  display block
// end nice to infer stuff

// vim:fdm=marker
