header
  ul
    li
      a.onclick-scroll-to(data-scroll-to="#faq") FAQ
    li.community
      a(href='https://community.powerbulletin.com', target='_blank') Community
    li.my-sites
      a.onclick-my-sites My Communities
    li.auth
      a.onclick-login Login
      a.onclick-logout(style="display:none;") Logout

#wrapper.SalesApp-content
#auth
