mixin create
  fieldset
    input.Sales-domain(type='text', value=typeof domain != 'undefined' ? domain : '')
      t
    span.Sales-available
      //- unicode checkmark
      .success &#x2713;
      //- unicode heavy ballot x
      .error &#x2718;
    .Sales-create

h1 PowerBulletin
  em Power YOUR Communities
mixin create
h2 Why you'll love PowerBulletin
  menu
  li Breakthrough Navigation
    p
      | From SEO technology that speedily transmits page differences instead of reloading browsers,
      | to a split-thread &amp; post interface, the PowerBulletin experience is always secure, fast &amp; fluid.
  li Responsive
    p
      | A modern, responsive interface that scales from to your phone,
      | tablet and PC to wide-screen projectors--your PowerBulletin community always stuns.
  li Real-time
    p
      | Ultrafast PowerBulletin is built on a real-time engine that powers
      | everything from user chat &amp; posts to administration, such as creating products.
  li Products &amp; e-Commerce
    p
      | Sell your business products &amp; services around PowerBulletin communities.
      | Offering e-commerce is so easy to use, it's easy to love.
  li Support
    p
      | Knowledge is PowerBulletin.  With direct access to our team of friendly developers,
      | there's almost no limit to what you can build.
mixin create
