body
  margin 0
  height 8350px
  position relative

body.scrolled
  header
    border-bottom 0
    background #eee
  header::after
    bottom -1px
    border-bottom-color #ddd
  footer::before, footer:hover::before
    border-top none
    box-shadow none
  footer
    opacity 1
    bottom -20px
    box-shadow none
    transition all .4s ease-out

//{{{ Header
header
  position fixed
  top 0
  left 0
  width 100%
  height 45px
  opacity 0.75
  text-align right
  z-index 20!important
  background #fff
  ul
    list-style none
    margin 0 50px
    li
      display inline-block
      margin-top 12px
      margin-right 45px
      font-weight 200
      cursor pointer
      a:hover
        color #111
        transform scale(1.08)
        transition all .08s ease-out
      a
        display block
        color #666
//}}}

// vim:fdm=marker
