.Sales
  text-align center
  h1
    margin 0
  em
    color #555
  fieldset
    border 0
    .hostname
      font-size 20px
      vertical-align middle
    .Sales-subdomain
      font-size 25px
      padding 10px
    .Sales-subdomain:focus
      letter-spacing 0
    .Sales-available
      font-weight bold
      font-size 3em

    .success
      color green
      display none
    .error
      color red
      display none

    .Sales-available.success
      display inline
      .success
        display inline
    .Sales-available.error
      display inline
      .error
        display inline
  #register_top
    margin-top 70px
  #register_bottom
    position fixed
    margin-top 5750px
    left 30%

  h2
    font-size 1.45em
    color #888
  section
    article
      h3
        text-transform uppercase
        letter-spacing 2px
        text-shadow 0 1px 0 rgba(0,0,0,.4)
      p
        width 30%
        margin 0 auto
        color #555
        font-size 1.1em
