header
  ul
    li
      a.onclick-scroll-to(data-scroll-to="#features") Features
    li
      a.onclick-scroll-to(data-scroll-to="#faq") FAQ
    li.auth
      a.onclick-login Login
      a.onclick-logout(style="display:none;") Logout

#wrapper.SalesLayout-content
