body > div
  display none

body >
  .fancybox-overlay
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    height auto!important
  .fancybox-wrap.fancybox-opened
    margin-top -225px
    display block

// would be nice to infer this stuff from sales-url-mappings
body.super, body.superSites, body.superUsers
  .SuperAdmin-root
    display block

body.homepage > .Sales-root
  display block
// end nice to infer stuff

// vim:fdm=marker
