!!! 5
html
  head
    title Hello Sales!
    script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.load.min.js")
    |<script type="text/javascript">
    |  head.js(!{JSON.stringify(cache5Url + '/powerbulletin-sales.js')});
    |</script>
  body
