!!! 5
html
  head
    title Hello Sales!
    script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/headjs/0.99/head.load.min.js")
    |<script type="text/javascript">
    |  head.js.apply(head, !{JSON.stringify(scripts)});
    |</script>
    for stylesheet in stylesheets
      link(rel='stylesheet', type='text/css', href=stylesheet)
  body
