!!! 5
html
  head
    title PowerBulletin
    for stylesheet in stylesheets
      link(rel='stylesheet', type='text/css', href=stylesheet)
    script(type='text/javascript', src="#{cacheUrl}/local/head-0.99.load.min.js")
    |<script type="text/javascript">
    |  window.headjs = head.js
    |  head.js.apply(head, !{JSON.stringify(scripts)});
    |  window.cacheUrl = '!{cacheUrl}';
    |  window.siteName = 'PowerBulletin';
    |</script>
  body
