
.logo
  h1 Power
    b Bulletin
  em The Official Real-Time Community
#register_top
h2#features.stick(style="margin-top:150px") Why you'll love PowerBulletin ...
section.translucent.stick(style="margin-top:500px")
  article
    h3 Breakthrough Navigation
    p
      | From SEO technology that speedily transmits page differences instead of reloading browsers,
      | to a split-thread &amp; post interface, the PowerBulletin experience is always secure, fast &amp; fluid.
section.stick(style="margin-top:1000px")
  article
    h3 Unmatched Responsive
    p
      | A modern, responsive interface that scales from to your phone,
      | tablet and PC to wide-screen projectors--your PowerBulletin community always stuns.
section.stick(style="margin-top:1500px")
  article
    h3 Real-Time Flow
    p
      | Ultrafast PowerBulletin is built on a real-time engine that powers
      | everything from user chat &amp; posts to administration, such as creating products.
section.stick(style="margin-top:2000px")
  article
    h3 Products &amp; e-Commerce Capabilities
    p
      | Sell your business products &amp; services around PowerBulletin communities.
      | Offering e-commerce is so easy to use, it's easy to love.
section.stick(style="margin-top:2500px")
  article
    h3 Live Support
    p
      | Knowledge is PowerBulletin!  With direct access to our team of friendly developers &amp; designers
      | there's almost no limit to what you can build.
#register_bottom
footer
  .onclick-scroll-top Top
