body > div
  display none

// would be nice to infer this stuff from sales-url-mappings
body.super > .SuperAdmin
  display block

body.homepage > .SalesApp
  display block
// end nice to infer stuff

// vim:fdm=marker
