h3 Create your web address now
  i !
.tooltip.SiteRegister-errors
form.site-register
  fieldset
    input.SiteRegister-subdomain(type='text', name='subdomain', value=typeof subdomain != 'undefined' ? subdomain : '', autocomplete="off")
      t
    span.hostname= hostname
    span.hostname-hidden
    span.SiteRegister-available
      //- unicode checkmark
      .success &#x2713;
      //- unicode heavy ballot x
      .error &#x2718;
    .SiteRegister-create

