.SiteRegister
  width 600px
  position relative
  margin 0 auto
  text-align center
  .SiteRegister-errors
    bottom 96px
    left 40%
  h3
    position absolute!important
    left 170px
    top -75px
    opacity 0
    color #999
    margin 0
    font-weight 300
    font-style italic
    z-index 1
  em
    color #555
  fieldset
    border 0
    .hostname
      position absolute
      z-index 10
      top 34px
      left 27px
      color #bbb
      font-size 16px
      vertical-align middle
    .SiteRegister-subdomain
      &:focus
        width 463px
      float left
      font-size 35px
      padding 14px
      width 467px
      height 41px
    .SiteRegister-available
      position absolute
      bottom 19px
      right 195px
      z-index 10
      font-weight bold
      font-size 1.2em
      transform rotate(-20deg)

    .SiteRegister-create button:enabled:hover
      animation-name none
    .SiteRegister-create button:enabled:active, .SiteRegister-create button:enabled:focus
      transform translateY(0)!important
    .SiteRegister-create
      position absolute
      right 81px
      top -3px
      z-index 10
      button
        height 69px
    .success
      color green
      display none
    .error
      color red
      display none

    .SiteRegister-available.success
      display inline
      .success
        display inline
    .SiteRegister-available.error
      display inline
      .error
        display inline
