.SiteRegister
  width 600px
  position relative
  margin 0 auto
  text-align center
  padding-left 50px
  .SiteRegister-errors
    bottom 100px
    left 40%
  h3
    position absolute!important
    left 151px
    top -45px
    opacity 0
    padding-left 30px
    color theme_color
    margin 0
    font-weight 300
    font-style italic
    z-index 1
  em
    color #555
  fieldset
    border 0
    .hostname
      position absolute
      z-index 10
      top 42px
      left 0
      color #bbb
      padding-left 83px
      font-size 16px
      vertical-align middle
    .SiteRegister-subdomain
      &:focus
        width 463px
        box-shadow 0 0 5px 1px theme_color
      float left
      font-size 35px
      padding 18px
      width 467px
      height 43px
      border-radius 5px
    .hostname-hidden
      position absolute
      font-size 35px
      visibility hidden
    .SiteRegister-available
      position absolute
      bottom 23px
      right 195px
      z-index 10
      font-weight bold
      font-size 1.2em
      transform rotate(-20deg)

    .SiteRegister-create button:enabled:hover
      animation-name none
    .SiteRegister-create button:enabled:active, .SiteRegister-create button:enabled:focus
      transform translateY(0)!important
    .SiteRegister-create
      position absolute
      right 81px
      top -3px
      z-index 10
      button
        height 69px
    .success
      color theme_color
      display none
    .error
      color dark_theme_color
      display none

    .SiteRegister-available.success
      display inline
      .success
        display inline
    .SiteRegister-available.error
      display inline
      .error
        display inline
