.SuperAdminUsers
  background auto
  margin-right 50px
  ul
    list-style none
    &.filters
      margin-top 8px
      font-size .9em
    li
      display inline-block
      margin-right 19px
      a
        color dark_text
        text-decoration none!important
  #filter
    position absolute
    right 155px
    top 130px
  > .invite
    color #555
    font-weight 200
    margin-left 20px
    margin-right 12px
    //text-transform uppercase
  > .Table
    table
      width 100%
    a
      //color dark_text
      cursor default
      text-decoration none
