table
  thead
    tr
      each ctitle in cols
        title = ctitle.replace(/_/g, ' ')
        th!= title
  tbody.Table-tbody
    each row in rows
      tr
        each ctitle, c in cols
          td!= row[c]
.Table-paginator
