// Uploader must be embedded inside a <form>, so prefix:
form
  .Uploader
    &:hover
      .cancel
        opacity 1
        transition none

    // <drag-n-drop & upload widget>
    .progress
      position absolute
      text-aliggn center
      overflow hidden
      text-align center
      font-size .6em
      line-height 2.3em
      letter-spacing -1px
      text-indent -5px
      font-style italic
      z-index 10
      top 0
      bottom 1px
      left 0
      width 0
      height 100%
      color text_color
      background-image linear-gradient(to right, dark_theme_color, theme_color)
      transition width .15s ease-in
    .cancel
      opacity 0
      transition .2s ease-out .3s
      position absolute
      top -10px
      right -7px
    label
      text-transform capitalize
      position relative
      .button
        margin -21px 0 7px 150px!important
        padding 0
        width 85px!important
        height 35px!important
        span
          color lighten(colored_text, 25%)
          font-weight 400
          font-size 15px
          line-height 35px
          &:hover
            color colored_text
      .inline-preview
        position absolute
        z-index 10
        display block
        background-color #fafafa
        border 1px solid #ccc
        outline none
        height 37px
        max-width 260px
        left 248px
        top 0
        border-radius 3px
        // hide close for empty backgrounds
        &[src*='transparent'] + .close
          opacity 0!important
        // magnify these on hover--they have backgrounds
        &[src*='/sites/']
          transition all .2s ease-in .2s
        &[src*='/sites/']:hover
          border 1px solid darken(theme_color, 20%)
          box-shadow 0 0 1px theme_color
          background-color #fff
          transform scale(1.5)
          transition all .01s ease-out .5s
    .upload
      display none
    .button
      width 350px!important
      margin 14px 0 0 140px!important
