label(for='upload') Background
  div.drop-target.button 
    span Browse
    input.upload(id='upload', type='file', name='background')
  img.background
  .cancel.close.onclick-delete(title='Delete') X
.note Drag &amp; drop or choose above
