// Uploader must be embedded inside a <form>, so prefix:
form
  .Uploader
    &:hover
      .cancel
        opacity 1
        transition none

    // <drag-n-drop & upload widget>
    .cancel
      opacity 0
      transition .2s ease-out .3s
      position absolute
      top -10px
      right -7px
    label
      .button
        margin -21px 0 7px 150px!important
        padding 0
        width 85px!important
        height 35px!important
        span
          color lighten(colored_text, 25%)
          font-weight 400
          font-size 15px
          line-height 35px
          &:hover
            color colored_text
    label[for='upload']
      position relative
      .background
        position absolute
        z-index 10
        display block
        background-color #fafafa
        border 1px solid #ccc
        outline none
        height 37px
        width 37px
        right -135px
        top 0
        border-radius 3px
        // hide close for empty backgrounds
        &[src*='transparent'] + .close
          opacity 0!important
        // magnify these on hover--they have backgrounds
        &[src*='/sites/']:hover
          border 1px solid light
          background-color #f8f8f8
          transform scale(3)
          transition all .15s ease-out .15s
    .upload
      display none
    .button
      width 350px!important
      margin 14px 0 0 140px!important
